# KSSL dataset
> Accessing and bundling [USDA/KSSL](https://www.nrcs.usda.gov/conservation-basics/natural-resource-concerns/soil/kellogg-soil-survey-laboratory-kssl) MIRS & NIRS dataset

In [ ]:
#| default_exp data.kssl

In [ ]:
#| hide
%load_ext autoreload
%autoreload 2

In [ ]:
#| export
import subprocess
from pathlib import Path
import shutil

#from .base import select_rows, chunk
from spanda.data.core import select_rows, chunk
from fastcore.basics import patch
#from spectrai.core import get_kssl_config
import pandas as pd
import numpy as np
import re
from tqdm import tqdm

#DATA_KSSL, Path(src_dir), DATA_SPECTRA, DB_NAME = get_kssl_config()

In [ ]:
# prepare KSSL
path_data = Path('../_data')
src_dir = Path('../_data/C2001USAK206')

In [ ]:
# kssl = KSSL(src_dir)
# kssl.to_csv(dst_dir)
# kssl.get_analyte()
# kssl.get_sample()
# kssl.get_mirs_mas()
# kssl.get_nirs_mas()
# kssl.get_mirs_det()
# kssl.get_nirs_det()
# kssl.get_layer()
# kssl.get_layer_analyte()
# kssl.export_mirs(dest_dir)
# kssl.export_nirs(dest_dir)

In [ ]:
# KSSL summary
#     - How many spectra ?
#     - How many analytes ?
#     - Analytes description (units, ...)
#     - How many samples by analyte?
#     - where are they collected?

In [ ]:
# Create folder tree
# /mirs
#   /32987/
#          32987XS01.csv 
#          32987XS02.csv 
#          target.csv
#          metadata.csv

# /nirs
#   /32988/
#          32988XS01.csv 
#          32988XS02.csv 
#          target.csv
#          metadata.csv

# 1. get pandas
#        mirs_id, kex, cec, oc, ...
#        mirs_id, depth, order, suborder, lon, lat, date, ...

In [ ]:
# 1. Create folders from df
# 2. fill them with spectra
# 3. fill them with target
# 3. fill them with metadata
# 4. optionally compress

In [ ]:
#| hide
#def access_to_csv(src_dir:str, # Path of the folder containing the `.accdb` KSSL file
#                  dest_dir:str, # Path of the folder that will contain exported tables
#                  fname:str # KSSL Microsoft Access database name
#                 ) -> None:
#    "Exports KSSL '.accdb' tables to individual `.csv` files (requires https://github.com/mdbtools/mdbtools)"
#    in_folder = Path(in_folder)
#    out_folder = Path(out_folder)

#    if not in_folder.exists():
#        raise IOError('in_folder not found.')

#    if not out_folder.exists():
#        out_folder.mkdir(parents=True)

#    script_name = Path(__file__).parent / 'scripts/access2csv.sh'
#    out = subprocess.run([script_name, in_folder / DB_NAME, out_folder])

#    if out.returncode == 0:
#        print('KSSL tables exported successfully to .csv files.')
#    else:
#        raise OSError('Execution of access2csv.sh failed.')

In [ ]:
#kssl = KSSL(src_dir)

# Convert Microsoft Access db to a set of csv files
#kssl.mdb_to_csv()
#kssl.export_mirs(dest_path, replicates=True)
#kssl.export_nirs(dest_path, replicates=True)
#kssl.export_analytes(dest_path, names=[])

#kssl.dataloader()

In [ ]:
target = pd.Series(data=[1.1, 1.2, 1.3], index=['123', '756', '1345'], name='value')
target.index.name = 'analyte'
target.to_csv('./test.csv')

In [ ]:
target = pd.read_csv('./test.csv', index_col='analyte').squeeze()

In [ ]:
target

analyte
622       2.129027
623       0.195041
624       0.018478
420       1.026532
1424     -0.009398
723            NaN
722            NaN
724            NaN
726            NaN
725            NaN
750            NaN
481       5.110000
268       5.500000
1426      2.624175
334      22.266631
342       1.549808
339       0.983326
343      55.730932
338       1.261223
337      22.266631
340       1.100898
341       0.919196
417       4.285714
54             NaN
65             NaN
66             NaN
67             NaN
364            NaN
795            NaN
478       0.093000
59        0.173543
61      808.432031
63      916.222968
64        0.025870
60        0.546500
652            NaN
274            NaN
69             NaN
70             NaN
418            NaN
335            NaN
266       8.600000
336       2.960304
273      19.000000
68             NaN
482            NaN
383            NaN
371            NaN
382            NaN
375            NaN
Name: value, dtype: float64

In [ ]:
Path('../_data/kssl-mirs').mkdir( exist_ok=True)
# remove if exists and create root folder
mirs_path = '../_data/kssl-mirs'
if Path(mirs_path).exists(): shutil.rmtree('../_data/kssl-mirs')
Path(mirs_path).mkdir(exist_ok=True)

In [ ]:
for index, row in df_export.iterrows():
    mirs_path = Path('../_data/kssl-mirs') / str(row['lay_id'])
    if not mirs_path.exists():
        mirs_path.mkdir()
        target = row[top50_analytes]
        target.index.name = 'analyte'
        target.name = 'value'
        target.to_csv(mirs_path/'target.csv')
    # retrieve opus file
    # read and interpolate it
    # export series as .csv with wn as indexes

In [ ]:
target.index.name = 'analyte'

In [ ]:
target.name = 'value'

In [ ]:
target.to_csv('./test.csv')

In [ ]:
pd.pivot_table(pd.merge(_get_layer_tbl('../_data'),
                        _get_layer_analyte_tbl('../_data'), on='lay_id'),
               values='calc_value',
               index=['lay_id'],
               columns=['analyte_id'])[[725]].dropna()

analyte_id       725
lay_id
286         0.212940
287         0.547895
383         1.454524
384         2.263401
385         0.419990
...              ...
200206      0.652148
200207      0.511024
200208      0.456853
200209      0.434322
200210      1.266685

[55661 rows x 1 columns]

### Final

In [ ]:
# First 50 most measured analytes
top50_analytes = list(lay_anal['analyte_id'].value_counts(sort=True).iloc[:50].index); top50_analytes

[622,
 623,
 624,
 420,
 1424,
 723,
 722,
 724,
 726,
 725,
 750,
 481,
 268,
 1426,
 334,
 342,
 339,
 343,
 338,
 337,
 340,
 341,
 417,
 54,
 65,
 66,
 67,
 364,
 795,
 478,
 59,
 61,
 63,
 64,
 60,
 652,
 274,
 69,
 70,
 418,
 335,
 266,
 336,
 273,
 68,
 482,
 383,
 371,
 382,
 375]

In [ ]:
lay_anal_wide = pd.pivot_table(lay_anal,
                               values='calc_value',
                               index=['lay_id'],
                               columns=['analyte_id'])

In [ ]:
df_final = pd.merge(lay_smp_mirs_mas_det,
                    lay_anal_wide, on='lay_id', how='left'); df_final

,lay_id,lims_pedon_id,lims_site_id,lay_depth_to_top,smp_id,mir_scan_mas_id,scan_path_name,2,6,8,...,1457,1459,1460,1462,1463,1464,1466,1467,1468,1483
0,123,35,36,0.0,25111,40168,25111XS01.0,40.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,123,35,36,0.0,25111,40168,25111XS02.0,40.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,123,35,36,0.0,25111,40168,25111XS03.0,40.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,123,35,36,0.0,25111,40168,25111XS04.0,40.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,124,35,36,8.0,25112,40169,25112XS01.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314983,200209,40543,34189,110.0,294810,88495,294810XS04.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314984,200210,40544,34190,0.0,294811,88496,294811XS01.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314985,200210,40544,34190,0.0,294811,88496,294811XS02.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314986,200210,40544,34190,0.0,294811,88496,294811XS03.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314987,200210,40544,34190,0.0,294811,88496,294811XS04.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_export = df_final[['lay_id', 'scan_path_name'] + top50_analytes]; df_export

,lay_id,scan_path_name,622,623,624,420,1424,723,722,724,...,335,266,336,273,68,482,383,371,382,375
0,123,25111XS01.0,2.129027,0.195041,0.018478,1.026532,-0.009398,NaN,NaN,NaN,...,NaN,8.60,2.960304,19.0,NaN,NaN,NaN,NaN,NaN,NaN
1,123,25111XS02.0,2.129027,0.195041,0.018478,1.026532,-0.009398,NaN,NaN,NaN,...,NaN,8.60,2.960304,19.0,NaN,NaN,NaN,NaN,NaN,NaN
2,123,25111XS03.0,2.129027,0.195041,0.018478,1.026532,-0.009398,NaN,NaN,NaN,...,NaN,8.60,2.960304,19.0,NaN,NaN,NaN,NaN,NaN,NaN
3,123,25111XS04.0,2.129027,0.195041,0.018478,1.026532,-0.009398,NaN,NaN,NaN,...,NaN,8.60,2.960304,19.0,NaN,NaN,NaN,NaN,NaN,NaN
4,124,25112XS01.0,1.701399,0.160819,0.018438,1.024322,0.309402,NaN,NaN,NaN,...,NaN,8.73,8.758280,22.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
314983,200209,294810XS04.0,1.338612,0.030423,0.022310,1.014100,10.774000,9.524891,42.830291,2.316182,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314984,200210,294811XS01.0,4.471496,0.358129,0.038883,1.023226,9.769275,22.192863,55.000879,1.153677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314985,200210,294811XS02.0,4.471496,0.358129,0.038883,1.023226,9.769275,22.192863,55.000879,1.153677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314986,200210,294811XS03.0,4.471496,0.358129,0.038883,1.023226,9.769275,22.192863,55.000879,1.153677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314987,200210,294811XS04.0,4.471496,0.358129,0.038883,1.023226,9.769275,22.192863,55.000879,1.153677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
len(df_export['lay_id'].unique())

78429

### Layer-analyte

In [ ]:
lay_anal = _get_layer_analyte_tbl('../_data'); lay_anal

         lay_id  analyte_id  calc_value
26       110524         336   12.685978
27       110524         334   38.140311
28       110524         335    0.000000
29       110524         337   38.140311
30       110524         338    0.656713
...         ...         ...         ...
3520737   20080         268    5.590000
3520738   20080         481    4.770000
3520739   19876          54   28.256112
3520740   19879          54   20.242942
3520741   20161          54   22.805062

[2357362 rows x 3 columns]

In [ ]:
pd.merge(lay_anal,
         analyte,
         on='analyte_id').value_counts('analyte_name')[:50]

analyte_name
Carbon, Total NCS                                            92724
Nitrogen, Total NCS                                          92723
Sulfur, Total NCS                                            92721
Ratio, Air-dry/Ovendry                                       91670
Carbonate, MIR predicted, unscreened                         59623
CEC, NH4OAc, pH 7.0, 2M KCl displacement                     56022
Magnesium, NH4OAc Extractable, 2M KCl displacement           56005
Calcium, NH4OAc Extractable, 2M KCl displacement             56005
Sodium, NH4OAc Extractable, 2M KCl displacement              56003
Potassium, NH4OAc Extractable, 2M KCl displacement           56002
Volume, CEC, NH4OAc, Syringe Extract, 2M KCl displacement    56001
pH, 1:2 Soil-CaCl2 Suspension                                54921
pH, 1:1 Soil-Water Suspension                                54916
Gypsum, MIR predicted, unscreened                            52674
Sand, Very Fine                                              52390
Clay                                                         52390
Sand, Fine                                                   52390
Silt, Fine                                                   52389
Sand, Coarse                                                 52389
Clay, Noncarbonate                                           52389
Sand, Medium                                                 52388
Sand, Very Coarse                                            52379
Water Retention, 15 Bar, <2mm,  Air-dry                      42462
Carbonate, <2mm Fraction                                     37538
Aluminum, Dithionite Citrate Extractable                     34578
Iron, Dithionite Citrate Extractable                         34571
Manganese, Dithionite Citrate Extractable                    34566
Electrical Conductivity, Predict, 1:2 (w/w)                  32620
Acidity, BaCl2-TEA Extractable, pH 8.2, centrifuge           30671
Optical Density, Oxalate Extract                             30489
Aluminum, Oxalate Extractable                                30488
Manganese, Oxalate Extractable                               30487
Silicon, Oxalate Extractable                                 30487
Phosphorus, Oxalate Extractable                              30487
Iron, Oxalate Extractable                                    30486
Phosphorus, Mehlich3 Extractable                             25073
Phosphorus, Olsen Extractable                                15990
Aluminum, KCl Extractable                                    15046
Manganese, KCl Extractable                                   15043
Water Retention, 2 Bar, <2mm Sieve, Air-dry                  12252
Clay, Carbonate                                              12219
pH, 1:50 Soil-NaFl Suspension                                12020
Clay, Fine                                                   11812
Phosphorus, New Zealand P Retention                          10647
Silicon, Dithionite Citrate Extractable                       9715
pH, Saturated Paste                                           9145
Water Content, Saturated Paste                                9144
Chloride, Saturation Extract                                  9142
Sulfate, Saturation Extract                                   9142
Nitrate, Saturation Extract                                   9137
dtype: int64

In [ ]:
len(lay_anal.lay_id.unique())

98020

In [ ]:
lay_anal['analyte_id'].value_counts(sort=True)

622     92724
623     92723
624     92721
420     91670
1424    59623
        ...
310         1
312         1
144         1
666         1
311         1
Name: analyte_id, Length: 491, dtype: int64

In [ ]:
[print(i, lut_analyte[i]) for i in lay_anal['analyte_id'].value_counts(sort=True).index]

622 Carbon, Total NCS
623 Nitrogen, Total NCS
624 Sulfur, Total NCS
420 Ratio, Air-dry/Ovendry
1424 Carbonate, MIR predicted, unscreened
723 CEC, NH4OAc, pH 7.0, 2M KCl displacement
722 Calcium, NH4OAc Extractable, 2M KCl displacement
724 Magnesium, NH4OAc Extractable, 2M KCl displacement
726 Sodium, NH4OAc Extractable, 2M KCl displacement
725 Potassium, NH4OAc Extractable, 2M KCl displacement
750 Volume, CEC, NH4OAc, Syringe Extract, 2M KCl displacement
481 pH, 1:2 Soil-CaCl2 Suspension
268 pH, 1:1 Soil-Water Suspension
1426 Gypsum, MIR predicted, unscreened
334 Clay
342 Sand, Very Fine
339 Sand, Fine
343 Silt, Fine
338 Sand, Coarse
337 Clay, Noncarbonate
340 Sand, Medium
341 Sand, Very Coarse
417 Water Retention, 15 Bar, <2mm,  Air-dry
54 Carbonate, <2mm Fraction
65 Aluminum, Dithionite Citrate Extractable
66 Iron, Dithionite Citrate Extractable
67 Manganese, Dithionite Citrate Extractable
364 Electrical Conductivity, Predict, 1:2 (w/w)
795 Acidity, BaCl2-TEA Extractable, pH 8.2, centrifuge
478 Optical Density, Oxalate Extract
59 Aluminum, Oxalate Extractable
61 Manganese, Oxalate Extractable
63 Phosphorus, Oxalate Extractable
64 Silicon, Oxalate Extractable
60 Iron, Oxalate Extractable
652 Phosphorus, Mehlich3 Extractable
274 Phosphorus, Olsen Extractable
69 Aluminum, KCl Extractable
70 Manganese, KCl Extractable
418 Water Retention, 2 Bar, <2mm Sieve, Air-dry
335 Clay, Carbonate
266 pH, 1:50 Soil-NaFl Suspension
336 Clay, Fine
273 Phosphorus, New Zealand P Retention
68 Silicon, Dithionite Citrate Extractable
482 pH, Saturated Paste
383 Water Content, Saturated Paste
371 Chloride, Saturation Extract
382 Sulfate, Saturation Extract
375 Nitrate, Saturation Extract
373 Fluoride, Saturation Extract
372 Electrical Conductivity, Saturation Extract
376 Nitrite, Saturation Extract
366 Bicarbonate, Saturation Extract
370 Carbonate, Saturation Extract
381 Sodium, Saturation Extract
369 Calcium, Saturation Extract
379 Potassium, Saturation Extract
378 Phosphate, Saturation Extract
374 Magnesium, Saturation Extract
368 Bromide, Saturation Extract
365 Acetate, Saturation Extract
270 Phosphorus, Bray-1 Extractable
1406 p-nitrophenol, ß-Glucosidase
791 C, KMnO4 extract
89 Uncorrected Gypsum,  < 2mm Fraction
659 Gypsum Calculation Factor
660 Corrected Gypsum, <2mm
1409 Nitrogen, hpom
1408 Carbon, hpom
1410 Sulfur, hpom
223 Quartz, petro_count
661 Corrected ADOD
181 Iron Oxides (Goethite, Magnetite, Hematite, Li), petro_count
218 Potassium Feldspar, petro_count
127 Biotite, petro_count
222 Pyroxene, petro_count
206 Opaques, petro_count
106 Other, glass count
136 Chert (Chalcedony, Jasper, Agate, Onyx), petro_count
176 Hornblende, petro_count
201 Muscovite, petro_count
99 Glass, glass_count
71 Aluminum, Sodium Pyrophosphate Extractable
73 Iron, Sodium Pyrophosphate Extractable
74 Manganese, Sodium Pyrophosphate Extractable
415 Water Retention, 1/3 Bar, <2mm Sieve
214 Plagioclase Feldspar, petro_count
101 Glass-coated Grain, glass_count
107 Plant Opal, glass_count
416 Water Retention, 1 Bar, <2mm Sieve, Air-dry
167 Glass, petro_count
159 Garnet, petro_count
414 Water Retention, 1/10 Bar, <2mm Sieve, Air-dry
88 Acidity, BaCl2-TEA Extractable, pH 8.2
252 Weatherable Aggregates, petro_count
126 Beryl, petro_count
255 Zircon, petro_count
215 Plant Opal, petro_count
98 Glass Aggregates, glass_count
1035 Water Retention, 5 Bar, <2mm Sieve, Air-dry
413 Water Retention, 0.06 Bar, <2mm Sieve
353 Clay, H2O Dispersible
356 Sand, Medium, H2O Dispersible
359 Silt, Fine, H2O Dispersible
358 Sand, Very Fine, H2O Dispersible
357 Sand, Very Coarse, H2O Dispersible
355 Sand, Fine, H2O Dispersible
354 Sand, Coarse, H2O Dispersible
1059 Calcium, Element Mehlich3 Extractable
1076 Strontium, Element Mehlich3 Extractable
1073 Zinc, Element Mehlich3 Extractable
1069 Nickel, Element Mehlich3 Extractable
1058 Barium, Element Mehlich3 Extractable
1075 Silicon, Element Mehlich3 Extractable
1066 Magnesium, Element Mehlich3 Extractable
1056 Aluminum, Element Mehlich3 Extractable
1060 Cadmium, Element Mehlich3 Extractable
1061 Cobalt, Element Mehlich3 Extractable
1062 Chromium, Element Mehlich3 Extractable
1063 Copper, Element Mehlich3 Extractable
1064 Iron, Element Mehlich3 Extractable
1065 Potassium, Element Mehlich3 Extractable
1070 Phosphorus, Element Mehlich3 Extractable
1067 Manganese, Element Mehlich3 Extractable
1074 Molybdenum, Element Mehlich3 Extractable
1068 Sodium, Element Mehlich3 Extractable
1057 Arsenic, Element Mehlich3 Extractable
1071 Lead, Element Mehlich3 Extractable
1483 Ammonium, Saturation Extract
18 Water Retention, 1/3 Bar, Reconstituted, Moist
16 Bulk Density, <2mm Fraction, Reconstituted, 1/3 Bar
17 Bulk Density, <2mm Fraction, Reconstituted, Ovendry
269 Phosphorus, Water Soluble
389 Kaolinite, tga
244 Tourmaline, petro_count
86 Volume, CEC, NH4OAc, Syringe Extract
81 Calcium, NH4OAc Extractable
82 CEC, NH4OAc, pH 7.0
84 Potassium, NH4OAc Extractable
85 Sodium, NH4OAc Extractable
83 Magnesium, NH4OAc Extractable
133 Calcite, petro_count
229 Rutile, petro_count
163 Glass Coated Grain, petro_count
265 pH, 1:1 Soil-KCl Suspension
134 Carbonate Aggregates, petro_count
1156 pH, Water Extract
1150 Nitrate, water extract
1153 Sulfate, water extract
1151 Nitrite, water extract
1157 Electrical Conductivity, water extract
1152 Phosphate, Water Extract
1148 Chloride, water extract
1149 Fluoride, water extract
1147 Bromide, water extract
1163 Cobalt, Water Extractable
1178 Zinc, Water Extractable
1170 Molybdenum, Water Extractable
1169 Manganese, Water Extractable
1167 Potassium, Water Extractable
1166 Iron, Water Extractable
1173 Phosphorus, Water Extractable
1174 Lead, Water Extractable
1175 Silicon, Water Extractable
1177 Vanadium, Water Extractable
1176 Strontium, Water Extractable
1165 Copper, Water Extractable
1164 Chromium, Water Extractable
1158 Aluminum, Water Extractable
1159 Arsenic, Water Extractable
1160 Barium, Water Extractable
1161 Calcium, Water Extractable
1162 Cadmium, Water Extractable
1172 Nickel, Water Extractable
1168 Magnesium, Water Extractable
1171 Sodium, Water Extractable
100 Glass-coated Feldspar, glass_count
839 Phosphorus, Anion Resin Extractable, 24 hour
838 Phosphorus, Anion Resin Extractable, 1 hour
92 Nitrate, 1M KCl
137 Chlorite, petro_count
1145 Acetate, water extract
1146 Boron, water extract
2 Liquid Limit, Atterberg
818 Plasticity Index, Atterberg
108 Sponge Spicule, glass_count
254 Zeolite, petro_count
91 Mineral Content, Loss on Ignition
161 Glass Aggregates, petro_count
651 Melanic Index
351 Clay, Carbonate, H2O Dispersible
199 Monazite, petro_count
238 Sponge Spicule, petro_count
104 Glass-coated Quartz, glass_count
180 Iron Oxide-Coated Quartz, petro_count
162 Glass Coated Feldspar, petro_count
224 Resistant Aggregates, petro_count
388 Goethite, tga
1219 Gypsum, Equivalent Content
387 Gibbsite, tga
103 Glass-coated Opaques, glass count
249 Vermiculite-Mica, petro_count
193 Magnetite, petro_count
177 Hydrobiotite, petro_count
1427 Selenium, Water Extractable
102 Glass-coated Hornblende, glass_count
152 Epidote, petro_count
96 Diatoms, glass_count
166 Glass Coated Quartz, petro_count
165 Glass Coated Opaque, petro_count
1179 Nitrate-N, Water Extractable
236 Sphene, petro_count
154 Feldspathoids, petro_count
146 Cristobalite, petro_count
155 Ferromagnesium Mineral, petro_count
105 Glassy Materials, glass_count
690 Nitrogen, Mineralizable (EPA)
95 Basic Glass, glass_count
164 Glass Coated Hornblende, petro_count
147 Diatoms, petro_count
256 Zoisite, petro_count
168 Glassy Materials, petro_count
196 Mica, petro_count
245 Tremolite, petro_count
56 Kaolinite, dsc
186 Lamprobolite, petro_count
120 Apatite, petro_count
1416 Clay, Ethanol Disp, Air-dry, Ultra
157 Foraminifera, petro_count
1420 Sand, Coarse, Ethanol Disp, Air-dry, Ultra
1417 Sand, Very Fine, Ethanol Disp, Air-dry, Ultra
1421 Sand, Very Coarse, Ethanol Disp, Air-dry, Ultra
1419 Sand, Medium, Ethanol Disp, Air-dry, Ultra
1418 Sand, Fine, Ethanol Disp, Air-dry, Ultra
262 Particle density <2 mm
111 Amphibole, petro_count
173 Gypsum, petro_count
1422 Serpentine, petro_count
272 Phosphorus, Citric Acid Extractable
125 Basic Glass, petro_count
242 Talc, petro_count
135 Cassiterite, petro_count
1412 Montmorillonite, tga
1423 Calcite, tga
778 Sulfur, pom mineral
773 Nitrogen, pom
775 Sulfur, pom
777 Nitrogen, pom mineral
794 FMOD, Bio, whole soil
772 Carbon, pom
776 Carbon, pom mineral
1041 Pumice, glass_count
890 pH, Oxidized (initial)
248 Vermiculite-Hydrobiotite, petro_count
350 Silt, Fine PSDA, Ultrasonic, Pipet
349 Sand, Very Fine PSDA, Ultrasonic, Pipet
348 Sand, Very Coarse PSDA, Ultrasonic, Pipet
347 Sand, Medium PSDA, Ultrasonic, Pipet
346 Sand, Fine PSDA, Ultrasonic, Pipet
345 Sand, Coarse PSDA, Ultrasonic, Pipet
344 Clay PSDA, Ultrasonic, Pipet
138 Chlorite-Mica, petro_count
234 Sillimanite, petro_count
213 Piemontite, petro_count
267 pH, Oxidized (sulfidic)
140 Clay-Coated Quartz, petro_count
170 Glaucophane, petro_count
175 Hematite, petro_count
275 Clay PSDA, Dith, Pipet
280 Sand, Very Fine PSDA, Dith, Pipet
276 Sand, Coarse PSDA, Dith, Pipet
277 Sand, Fine PSDA, Dith, Pipet
281 Silt, Fine PSDA, Dith, Pipet
278 Sand, Medium PSDA, Dith, Pipet
279 Sand, Very Coarse PSDA, Dith, Pipet
329 Sand, Fine PSDA, NaOH, Pipet
331 Sand, Very Coarse PSDA, NaOH, Pipet
332 Sand, Very Fine PSDA, NaOH, Pipet
333 Silt, Fine PSDA, NaOH, Pipet
328 Sand, Coarse PSDA, NaOH, Pipet
330 Sand, Medium PSDA, NaOH, Pipet
327 Clay PSDA, NaOH, Pipet
233 Siliceous Aggregates, petro_count
386 Gypsum, tga
217 Pollen, petro_count
210 Other, petro_count
219 Pyrite, petro_count
169 Glauconite, petro_count
1429 Clay, Carbonate, Ultrasonic, Pipet
205 Olivine, petro_count
1037 Palagonite, glass_count
149 Dolomite, petro_count
235 Sphalerite, petro_count
918 Clay, Fine, Ultrasonic, Pipet
1411 Halloysite, tga
183 Kaolinite, petro_count
886 Molybdenum, Trace Element
681 Chromium, Trace Element
887 Vanadium, Trace Element
231 Sericite, petro_count
682 Cobalt, Trace Element
881 Beryllium, Trace Element
879 Arsenic, Trace Element
880 Barium, Trace Element
686 Mercury, Trace Element
878 Silver, Trace Element
680 Cadmium, Trace Element
685 Manganese, Trace Element
687 Nickel, Trace Element
688 Phosphorus, Trace Element
882 Antimony, Trace Element
888 Tin, Trace Element
684 Lead, Trace Element
683 Copper, Trace Element
889 Tungsten, Trace Element
689 Zinc, Trace Element
885 Strontium, Trace Element
883 Selenium, Trace Element
119 Antigorite, petro_count
1032 Strontium, Major Element
669 Calcium, Major Element
670 Aluminum, Major Element
671 Iron, Major Element
240 Stilbite, petro_count
679 Zirconium, Major Element
678 Titanium, Major Element
677 Sodium, Major Element
676 Silicon, Major Element
674 Phosphorus, Major Element
673 Manganese, Major Element
675 Potassium, Major Element
672 Magnesium, Major Element
121 Aragonite, petro_count
115 Anhydrite, petro_count
55 Gibbsite, dsc
171 Goethite, petro_count
150 Dumortierite, petro_count
184 Kyanite, petro_count
113 Andalusite, petro_count
246 Vermiculite, petro_count
239 Staurolite, petro_count
1234 Sand, Medium, H2O Disp, Air-dry, Ultra
1233 Sand, Fine, H2O Disp, Air-dry, Ultra
1235 Sand, Very Coarse, H2O Disp, Air-dry, Ultra
1236 Sand, Very Fine, H2O Disp, Air-dry, Ultra
1044 Clay, Fine, Dith, Pipet
1232 Sand, Coarse, H2O Disp, Air-dry, Ultra
1237 Silt, Fine, H2O Disp, Air-dry, Ultra
151 Enstatite, petro_count
1231 Clay, H2O Disp, Air-dry, Ultra
1012 Antigorite, tga
142 Clinozoisite, petro_count
208 Other Resistant Minerals, petro_count
237 Spinel, petro_count
209 Other Weatherable Minerals, petro_count
326 Silt, Fine PSDA, NaOAc, Pipet
1188 Bromide, Water
1182 Calcium, Water
1184 Potassium, Water
1185 Sodium, Water
1181 Electrical Conductivity, Water
322 Sand, Fine PSDA, NaOAc, Pipet
1193 Phosphate, Water
1189 Chloride, Water
1190 Fluoride, Water
1196 Carbonate, Water
1192 Nitrite, Water
1194 Sulfate, Water
1195 Bicarbonate, Water
1180 pH, Water
1191 Nitrate, Water
321 Sand, Coarse PSDA, NaOAc, Pipet
320 Clay PSDA, NaOAc, Pipet
323 Sand, Medium PSDA, NaOAc, Pipet
1468 Goethite, dsc
324 Sand, Very Coarse PSDA, NaOAc, Pipet
1054 Clay, Fine, NaOH, Pipet
325 Sand, Very Fine PSDA, NaOAc, Pipet
1183 Magnesium, Water
318 Sand, Very Fine PSDA, Moist, Ultrasonic, Pipet
317 Sand, Very Coarse PSDA, Moist, Ultrasonic, Pipet
316 Sand, Medium PSDA, Moist, Ultrasonic, Pipet
319 Silt, Fine PSDA, Moist, Ultrasonic, Pipet
287 Sand, Very Fine PSDA, Moist, Dith, Pipet
315 Sand, Fine PSDA, Moist, Ultrasonic, Pipet
314 Sand, Coarse PSDA, Moist, Ultrasonic, Pipet
313 Clay PSDA, Moist, Ultrasonic, Pipet
288 Silt, Fine PSDA, Moist, Dith, Pipet
110 Albite, petro_count
284 Sand, Fine PSDA, Moist, Dith, Pipet
285 Sand, Medium PSDA, Moist, Dith, Pipet
665 Corrected Gypsum, 2-20mm
153 Feldspar, petro_count
286 Sand, Very Coarse PSDA, Moist, Dith, Pipet
663 Corrected ADOD, 2-20mm
1457 Antimony, X-Ray Flourescence Element
128 Biotite-Chlorite, petro_count
116 Anorthite, petro_count
634 Cobaltite, petro_count
1464 Tungsten, X-Ray Flourescence Element
1456 Sulfur, X-Ray Flourescence Element
1467 Zirconium, X-Ray Flourescence Element
1466 Zinc, X-Ray Flourescence Element
1462 Titanium, X-Ray Flourescence Element
1460 Tin, X-Ray Flourescence Element
1463 Vanadium, X-Ray Flourescence Element
1459 Silicon, X-Ray Flourescence Element
282 Clay PSDA, Moist, Dith, Pipet
1454 Lead, X-Ray Flourescence Element
1452 Nickel, X-Ray Flourescence Element
1450 Manganese, X-Ray Flourescence Element
1445 Copper, X-Ray Flourescence Element
1446 Iron, X-Ray Flourescence Element
1449 Potassium, X-Ray Flourescence Element
1444 Chromium, X-Ray Flourescence Element
1440 Calcium, X-Ray Flourescence Element
1443 Cobalt, X-Ray Flourescence Element
1441 Cadmium, X-Ray Flourescence Element
1439 Bismuth, X-Ray Flourescence Element
1438 Arsenic, X-Ray Flourescence Element
1437 Aluminum, X-Ray Flourescence Element
1221 Clay, Carbonate, H2O Disp, Moist, Ultra
1222 Clay, Fine, H2O Disp, Moist, Ultra
283 Sand, Coarse PSDA, Moist, Dith, Pipet
109 Actinolite, petro_count
21 Bulk Density, Core, <2 mm fraction, Field Moist
57 Carbonate, 2-20mm Fraction
304 Clay, Carbonate, Moist
241 Sulphur, petro_count
730 Iron, KCl Extractable
90 Uncorrected Gypsum, 2 to 20mm
1238 Surface Area, N2 Adsorption
644 Palagonite, petro_count
1228 Silt, Fine, H2O Disp, Moist, Ultra
1227 Sand, Very Fine, H2O Disp, Moist, Ultra
1226 Sand, Very Coarse, H2O Disp, Moist, Ultra
1225 Sand, Medium, H2O Disp, Moist, Ultra
1224 Sand, Fine, H2O Disp, Moist, Ultra
1223 Sand, Coarse, H2O Disp, Moist, Ultra
1220 Clay, H2O Disp, Moist, Ultra
14 Water Retention, 1/3 Bar, Cores
13 Water Retention, 1/10 Bar, Cores
11 Water Retention, 0.06 Bar, Cores
984 Sand, Very Fine, H2O Dispersible, Moist
983 Sand, Very Coarse, H2O Dispersible, Moist
982 Sand, Medium, H2O Dispersible, Moist
981 Sand, Fine, H2O Dispersible, Moist
980 Sand, Coarse, H2O Dispersible, Moist
985 Silt, Fine, H2O Dispersible, Moist
363 Clay, H2O Dispersible, Moist
305 Clay, Fine, Moist
6 Water Retention, 0.06 Bar, <2mm Clod
1186 Acetate, Water
145 Corundum, petro_count
1055 Clay, Carbonate, NaOH, Pipet
8 Water Retention, 1/10 Bar, <2mm Clod
9 Water Retention, 1/3 Bar, <2mm Clod
132 Brucite, petro_count
1217 Zinc, Water Element
141 Cliachite (Bauxite), petro_count
1216 Vanadium, Water Element
1215 Strontium, Water Element
1214 Silicon, Water Element
1213 Lead, Water Element
1212 Phosphorus, Water Element
1211 Nickel, Water Element
1210 Sodium, Water Element
1209 Molybdenum, Water Element
1208 Manganese, Water Element
1207 Magnesium, Water Element
1206 Potassium, Water Element
1205 Iron, Water Element
1204 Copper, Water Element
1203 Chromium, Water Element
1202 Cobalt, Water Element
1201 Cadmium, Water Element
1200 Calcium, Water Element
1199 Barium, Water Element
1198 Arsenic, Water Element
1197 Aluminum, Water Element
303 Clay PSDA, Moist, Pipet
306 Clay, Noncarbonate, Moist
307 Sand, Coarse PSDA, Moist, Pipet
308 Sand, Fine PSDA, Moist, Pipet
309 Sand, Medium PSDA, Moist, Pipet
310 Sand, Very Coarse PSDA, Moist, Pipet
312 Silt, Fine PSDA, Moist, Pipet
144 Collophane, petro_count
666 Gypsum 2-20mm Calculation Factor
311 Sand, Very Fine PSDA, Moist, Pipet

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [ ]:
lay_anal.groupby('analyte_id')a.count()

            lay_id  calc_value
analyte_id
2              701         701
6                1           1
8                1           1
9                1           1
11               1           1
...            ...         ...
1464             1           1
1466             1           1
1467             1           1
1468             2           2
1483          1746        1746

[491 rows x 2 columns]

### Sample - mirs_mas - mirs_det

In [ ]:
lay_smp_mirs_mas_det = pd.merge(lay_smp_mirsmas,
                                _get_mirs_det_tbl('../_data'), on='mir_scan_mas_id', how='inner')
lay_smp_mirs_mas_det

,lay_id,lims_pedon_id,lims_site_id,lay_depth_to_top,smp_id,mir_scan_mas_id,scan_path_name
0,123,35,36,0.0,25111,40168,25111XS01.0
1,123,35,36,0.0,25111,40168,25111XS02.0
2,123,35,36,0.0,25111,40168,25111XS03.0
3,123,35,36,0.0,25111,40168,25111XS04.0
4,124,35,36,8.0,25112,40169,25112XS01.0
...,...,...,...,...,...,...,...
314983,200209,40543,34189,110.0,294810,88495,294810XS04.0
314984,200210,40544,34190,0.0,294811,88496,294811XS01.0
314985,200210,40544,34190,0.0,294811,88496,294811XS02.0
314986,200210,40544,34190,0.0,294811,88496,294811XS03.0
314987,200210,40544,34190,0.0,294811,88496,294811XS04.0

In [ ]:
lay_smp_mirs_mas_det[lay_smp_mirs_mas_det['smp_id'] == 27472]

,lay_id,lims_pedon_id,lims_site_id,lay_depth_to_top,smp_id,mir_scan_mas_id,scan_path_name
3384,1828,356,357,130.0,27472,40762,27472XS01.0
3385,1828,356,357,130.0,27472,40762,27472XS02.0
3386,1828,356,357,130.0,27472,40762,27472XS03.0
3387,1828,356,357,130.0,27472,40762,27472XS04.0
3388,1828,356,357,130.0,27472,83354,27472XS01.0
3389,1828,356,357,130.0,27472,83354,27472XS02.0
3390,1828,356,357,130.0,27472,83354,27472XS03.0
3391,1828,356,357,130.0,27472,83354,27472XS04.0

In [ ]:
len(lay_smp_mirs_mas_det.lay_id.unique())

79822

### Sample - mirs_mas

In [ ]:
lay_smp_mirsmas = pd.merge(lay_smp, 
                           _get_mirs_mas_tbl('../_data'), on='smp_id', how='inner'); lay_smp_mirsmas

,lay_id,lims_pedon_id,lims_site_id,lay_depth_to_top,smp_id,mir_scan_mas_id
0,123,35,36,0.0,25111,40168
1,124,35,36,8.0,25112,40169
2,125,35,36,23.0,25113,40170
3,126,35,36,36.0,25114,40171
4,127,35,36,71.0,25115,40172
...,...,...,...,...,...,...
80779,200206,40543,34189,23.0,294807,88492
80780,200207,40543,34189,44.0,294808,88493
80781,200208,40543,34189,78.0,294809,88494
80782,200209,40543,34189,110.0,294810,88495
80783,200210,40544,34190,0.0,294811,88496

In [ ]:
lay_smp_mirsmas[lay_smp_mirsmas['smp_id'].duplicated()]

,lay_id,lims_pedon_id,lims_site_id,lay_depth_to_top,smp_id,mir_scan_mas_id
847,1828,356,357,130.0,27472,83354
924,2481,552,554,0.0,29539,62583
987,3548,793,795,23.0,30747,87711
1089,3899,880,882,0.0,32443,83356
1215,4379,1050,1052,25.0,33061,83602
...,...,...,...,...,...,...
74372,187494,37886,31568,0.0,273904,64767
74491,187965,37919,31602,70.0,274679,64833
76018,191191,38659,32317,38.0,278884,77287
76867,192446,39086,32772,49.0,280683,70214
76877,192455,39087,32773,18.0,280687,77355

In [ ]:
lay_smp_mirsmas[lay_smp_mirsmas['smp_id']==29539]

,lay_id,lims_pedon_id,lims_site_id,lay_depth_to_top,smp_id,mir_scan_mas_id
923,2481,552,554,0.0,29539,83353
924,2481,552,554,0.0,29539,62583

### Layer - sample

In [ ]:
lay_smp = pd.merge(
    _get_layer_tbl('../_data'),
    _get_sample_tbl('../_data'), 
    on='lay_id', how='inner').sort_values(by='lay_id'); lay_smp

       lay_id  lims_pedon_id  lims_site_id  lay_depth_to_top  smp_id
355       123             35            36               0.0   25111
356       124             35            36               8.0   25112
1205      125             35            36              23.0   25113
435       126             35            36              36.0   25114
239       127             35            36              71.0   25115
...       ...            ...           ...               ...     ...
64943  200206          40543         34189              23.0  294807
65753  200207          40543         34189              44.0  294808
64873  200208          40543         34189              78.0  294809
73531  200209          40543         34189             110.0  294810
64776  200210          40544         34190               0.0  294811

[99268 rows x 5 columns]

In [ ]:
lay_smp[lay_smp['lay_id'].duplicated()]

       lay_id  lims_pedon_id  lims_site_id  lay_depth_to_top  smp_id
33        416             91            92              85.0   25382
1235      840            166           167              41.0   27054
381       842            166           167              98.0   27057
104       843            166           167             145.0   27060
8960    13430           3617          3619              58.0   49664
17138   27915           7621          7629              17.0   76754

In [ ]:
lay_smp[lay_smp['lay_id'] == 290]

      lay_id  lims_pedon_id  lims_site_id  lay_depth_to_top  smp_id
2412     290           68.0          69.0              18.0   25609

In [ ]:
for i in lay_smp[lay_smp['lay_id'].duplicated()]['lay_id']:
    print(i)
    print(lay_smp[lay_smp['lay_id'] == i], '\n')

416
      lay_id  lims_pedon_id  lims_site_id  lay_depth_to_top  smp_id
3191     416           91.0          92.0              85.0   25382
290      416           91.0          92.0              85.0   25381

840
      lay_id  lims_pedon_id  lims_site_id  lay_depth_to_top  smp_id
1410     840          166.0         167.0              41.0   27055
2557     840          166.0         167.0              41.0   27054

842
      lay_id  lims_pedon_id  lims_site_id  lay_depth_to_top  smp_id
3098     842          166.0         167.0              98.0   27057
2496     842          166.0         167.0              98.0   27058

843
      lay_id  lims_pedon_id  lims_site_id  lay_depth_to_top  smp_id
2851     843          166.0         167.0             145.0   27059
2679     843          166.0         167.0             145.0   27060

13430
       lay_id  lims_pedon_id  lims_site_id  lay_depth_to_top  smp_id
17572   13430         3617.0        3619.0              58.0   49664
18561   13430         3617.0        3619.0              58.0   51235

27915
      lay_id  lims_pedon_id  lims_site_id  lay_depth_to_top  smp_id
7567   27915         7621.0        7629.0              17.0   76754
3679   27915         7621.0        7629.0              17.0   76758

In [ ]:
pd.pivot_table(pd.merge(_get_layer_tbl('../_data'),
                        _get_layer_analyte_tbl('../_data'), on='lay_id'),
                   values='calc_value',
                   index=['lay_id'],
                   columns=['analyte_id'])

analyte_id,2,16,17,18,54,55,56,59,60,61,...,1420,1421,1422,1423,1424,1426,1427,1429,1468,1483
lay_id,,,,,,,,,,,,,,,,,,,,,
123,40.0,NaN,NaN,NaN,NaN,NaN,NaN,0.173543,0.546500,808.432031,...,NaN,NaN,NaN,NaN,-0.009398,2.624175,NaN,NaN,NaN,NaN
124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.194718,0.744448,613.201656,...,NaN,NaN,NaN,NaN,0.309402,2.716475,NaN,NaN,NaN,NaN
125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.158691,0.585039,497.230227,...,NaN,NaN,NaN,NaN,0.632460,2.079400,NaN,NaN,NaN,NaN
126,74.0,NaN,NaN,NaN,NaN,NaN,NaN,0.251325,0.332470,912.883689,...,NaN,NaN,NaN,NaN,1.232425,1.912650,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.201643,0.347583,980.362858,...,NaN,NaN,NaN,NaN,1.453700,2.347850,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200206,NaN,NaN,NaN,NaN,12.743667,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13.246000,-0.211651,NaN,NaN,NaN,0.01418
200207,NaN,NaN,NaN,NaN,13.014731,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,13.407250,0.039827,NaN,NaN,NaN,NaN
200208,NaN,NaN,NaN,NaN,11.426830,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11.697000,0.047320,NaN,NaN,NaN,NaN
200209,NaN,NaN,NaN,NaN,10.625293,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.774000,-0.201893,NaN,NaN,NaN,NaN
200210,NaN,NaN,NaN,NaN,9.955879,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,9.769275,0.803590,NaN,NaN,NaN,NaN

In [ ]:
df_all = pd.merge(
    pd.pivot_table(pd.merge(_get_layer_tbl('../_data'),
                        _get_layer_analyte_tbl('../_data'), on='lay_id'),
                   values='calc_value',
                   index=['lay_id'],
                   columns=['analyte_id'])[[725]].dropna(),
    pd.merge(
        pd.merge(
            pd.merge(_get_sample_tbl('../_data'), # sample - mas 
                     _get_mirs_mas_tbl('../_data'), on='smp_id', how='left'),
            _get_mirs_det_tbl('../_data'), on='mir_scan_mas_id', how='inner'), # sample - mas - det
        _get_layer_tbl('../_data'), on='lay_id'), 
    on='lay_id', how='right').dropna().sort_values(by='mir_scan_mas_id')

In [ ]:
df_all

,lay_id,725,smp_id,mir_scan_mas_id,scan_path_name,lims_pedon_id,lims_site_id,lay_depth_to_top
56056,55103,1.414528,136680,2.0,136680XS01.0,13468,13269,0.0
56057,55103,1.414528,136680,2.0,136680XS02.0,13468,13269,0.0
56058,55103,1.414528,136680,2.0,136680XS03.0,13468,13269,0.0
56059,55103,1.414528,136680,2.0,136680XS04.0,13468,13269,0.0
56251,55104,0.903961,136681,3.0,136681XS04.0,13468,13269,10.0
...,...,...,...,...,...,...,...,...
227011,198041,1.360974,289979,88524.0,289979XS04.0,40114,33757,42.0
219744,198047,3.173300,289980,88525.0,289980XS01.0,40115,33758,0.0
219745,198047,3.173300,289980,88525.0,289980XS02.0,40115,33758,0.0
219747,198047,3.173300,289980,88525.0,289980XS04.0,40115,33758,0.0
219746,198047,3.173300,289980,88525.0,289980XS03.0,40115,33758,0.0

In [ ]:
# sample - mas_spectra - det_spectra
# _get_layer_tbl('../_data')
pd.merge(
    pd.merge(
        pd.merge(_get_sample_tbl('../_data'), # sample - mas 
                 _get_mirs_mas_tbl('../_data'), on='smp_id', how='inner'),
        _get_mirs_det_tbl('../_data'), on='mir_scan_mas_id', , how='inner'), # sample - mas - det
    _get_layer_tbl('../_data'), on='lay_id')

,smp_id,lay_id,mir_scan_mas_id,scan_path_name,lims_pedon_id,lims_site_id,lay_depth_to_top
0,25111,123,40168,25111XS01.0,35,36,0.0
1,25111,123,40168,25111XS02.0,35,36,0.0
2,25111,123,40168,25111XS03.0,35,36,0.0
3,25111,123,40168,25111XS04.0,35,36,0.0
4,25147,160,40205,25147XS01.0,42,43,81.0
...,...,...,...,...,...,...,...
314983,171736,75513,58161,171736XN04.0,20298,17707,45.0
314984,171753,75530,58129,171753XN01.0,20302,17711,0.0
314985,171753,75530,58129,171753XN02.0,20302,17711,0.0
314986,171753,75530,58129,171753XN03.0,20302,17711,0.0
314987,171753,75530,58129,171753XN04.0,20302,17711,0.0

In [ ]:
#| export
# DONE
def _get_layer_analyte_tbl(src_dir):
    """Returns relevant clean subset of `layer_analyte.csv` KSSL DB table.

    Notes
    ----
    Only `master_prep_id` relevant to MIRS analysis selected

    `calc_value` are by default `str` as possibly containing
    values such as (slight, 1:2, ...). Only numeric ones are
    selected

    Returns
    -------
    Pandas DataFrame
        New DataFrame with selected columns, rows
    """
    return pd.read_csv(Path(src_dir) / 'layer_analyte.csv', low_memory=False) \
        .dropna(subset=['analyte_id', 'calc_value']) \
        .pipe(select_rows, {
            'master_prep_id': lambda d: d in [18, 19, 27, 28],
            'calc_value': lambda d: re.search(r'[a-zA-Z]|:|\s', str(d)) is None}) \
        .loc[:, ['lay_id', 'analyte_id', 'calc_value']] \
        .astype({'calc_value': float})

In [ ]:
# Raw table
pd.read_csv(Path('../_data') / 'layer_analyte.csv', low_memory=False)\
    .sort_values(by='lay_id', ascending=True).head(30)

,lay_analyte_id,lay_id,analyte_id,proced_id,master_prep_id,size_frac,instr_set_id,lab_id,calc_value,num_obs,std_dev,reliability,initial_calc_date,last_recalc_date
443023,937532,1,689,78,28,<2 mm,137.0,1,278.741875,352,475.17193,NaN,12/14/05 13:01:29,07/25/08 12:44:53
335377,892267,1,74,18,28,<2 mm,134.0,1,0.00071369,204,0.00178,NaN,10/04/05 14:07:59,07/08/16 13:47:05
335376,892266,1,73,18,28,<2 mm,134.0,1,0.6538075,204,0.04412,NaN,10/04/05 14:07:59,07/08/16 13:47:05
335375,892265,1,71,18,28,<2 mm,134.0,1,1.1364126,204,0.09592,NaN,10/04/05 14:07:58,07/08/16 13:47:05
3264447,4560570,1,750,100,998,none,194.0,1,59.62821803,227,2.15411,NaN,10/22/18 09:45:01,02/14/20 07:34:11
3264446,4560569,1,726,100,998,none,194.0,1,0.008596,227,0.02644,NaN,10/22/18 09:45:01,02/14/20 07:34:11
3264445,4560568,1,724,100,998,none,194.0,1,0.0036023,227,0.01652,NaN,10/22/18 09:45:01,02/14/20 07:34:10
3264444,4560567,1,723,100,998,none,194.0,1,0.0392223,227,0.09960,NaN,10/22/18 09:45:01,02/14/20 07:34:10
3264443,4560566,1,750,100,28,<2 mm,194.0,1,57.35094395,230,2.41097,NaN,10/22/18 09:45:01,02/14/20 07:34:09
3264442,4560565,1,725,100,998,none,194.0,1,0.0330677,227,0.04208,NaN,10/22/18 09:45:01,02/14/20 07:34:10
3264441,4560564,1,722,100,998,none,194.0,1,0.1729024,227,0.15303,NaN,10/22/18 09:45:01,02/14/20 07:34:10
335378,892268,1,71,18,998,none,134.0,1,0.0001081,164,0.00062,NaN,10/04/05 14:07:59,07/08/16 13:47:03
3264440,4560563,1,726,100,28,<2 mm,194.0,1,1.0001036,230,0.07161,NaN,10/22/18 09:45:01,02/14/20 11:01:06
3264438,4560561,1,724,100,28,<2 mm,194.0,1,9.4055724,230,0.49843,NaN,10/22/18 09:45:01,02/14/20 11:01:06
3264437,4560560,1,723,100,28,<2 mm,194.0,1,26.3079978,229,0.65156,NaN,10/22/18 09:45:00,02/14/20 11:01:06
3264436,4560559,1,722,100,28,<2 mm,194.0,1,16.3354911,230,1.28163,NaN,10/22/18 09:45:00,02/14/20 11:01:05
262389,828797,1,670,79,998,none,53.0,1,-3.242856,231,18.45684,NaN,07/05/05 08:44:08,09/12/13 15:54:30
262390,828798,1,671,79,998,none,53.0,1,-4.502427,231,16.33100,NaN,07/05/05 08:44:08,09/12/13 15:54:32
3261116,4655569,1,382,59,998,none,191.0,1,0,2,0.00000,NaN,02/08/19 08:09:59,10/22/19 09:05:07
3261115,4655568,1,378,59,998,none,191.0,1,0,2,0.00000,NaN,02/08/19 08:09:59,10/22/19 09:05:07
3261114,4655567,1,365,59,998,none,191.0,1,0,2,0.00000,NaN,02/08/19 08:09:59,10/22/19 09:05:07
3261113,4655566,1,376,59,998,none,191.0,1,0,2,0.00000,NaN,02/08/19 08:09:59,10/22/19 09:05:07
3261112,4655565,1,375,59,998,none,191.0,1,0,2,0.00000,NaN,02/08/19 08:09:59,10/22/19 09:05:07
3264439,4560562,1,725,100,28,<2 mm,194.0,1,0.5528302,230,0.06129,NaN,10/22/18 09:45:01,02/14/20 11:01:06
3261111,4655564,1,1483,59,998,none,191.0,1,0.005122,2,0.00043,NaN,02/08/19 08:09:59,10/22/19 09:04:49
335379,892269,1,73,18,998,none,134.0,1,0.0001195,164,0.00054,NaN,10/04/05 14:07:59,07/08/16 13:47:03
843534,2674281,1,340,53,37,none,39.0,1,8.2547019,2,1.21488,NaN,07/06/12 16:10:47,09/20/13 08:11:15
658569,1345345,1,1153,1003,998,none,145.0,1,20850,2,29486.35277,NaN,05/02/07 12:36:20,02/17/09 12:55:09
658570,1345347,1,1177,1003,998,none,145.0,1,127332,1,NaN,NaN,05/02/07 12:36:21,06/29/09 08:38:52
658571,1345348,1,1178,1003,998,none,145.0,1,0,1,NaN,NaN,05/02/07 12:36:21,02/17/09 12:55:09

In [ ]:
_get_layer_analyte_tbl('../_data').sort_values(by='lay_id')

         lay_id  analyte_id     calc_value
2947017       1         651       1.789659
1152285       1         679     160.119079
1152284       1         678    4292.223128
1152283       1        1032     143.085194
1152282       1         676  293476.093408
...         ...         ...            ...
3419569  200210        1426       0.803590
3407609  200210         364       0.365073
3412778  200210         622       4.471496
3417171  200210          54       9.955879
3412780  200210         624       0.038883

[2357362 rows x 3 columns]

In [ ]:
#| export
# DONE
def _get_layer_tbl(src_dir):
    """Returns relevant clean subset of `layer.csv` KSSL DB table.

    Returns
    -------
    Pandas DataFrame
        New DataFrame with selected columns, rows
    """
    return pd.read_csv(Path(src_dir) / 'layer.csv', low_memory=False) \
        .loc[:, ['lay_id', 'lims_pedon_id', 'lims_site_id', 'lay_depth_to_top']] \
        .dropna() \
        .astype({'lims_pedon_id': 'int32', 'lims_site_id': 'int32'})

In [ ]:
_get_layer_tbl('../_data')

        lay_id  lims_pedon_id  lims_site_id  lay_depth_to_top
0          587            120           121              28.0
1          596            121           122              81.0
2          621            125           126              61.0
3          630            126           127              76.0
4          689            138           139               3.0
...        ...            ...           ...               ...
100876   51945          12803         12658              14.0
100877   51952          12805         12660               5.0
100878   51979          12812         12667               5.0
100879   51986          12814         12669               0.0
100880   51988          12814         12669              13.0

[99262 rows x 4 columns]

In [ ]:
#| export
# DONE
def _get_sample_tbl(src_dir):
    """Returns relevant clean subset of `sample.csv` KSSL DB table.

    Notes
    -----
    Only `smp_id` > 1000  relevant to MIRS analysis selected

    Returns
    -------
    Pandas DataFrame
        New DataFrame with selected columns, rows
    """
    return pd.read_csv(Path(src_dir) / 'sample.csv', low_memory=False) \
        .pipe(select_rows, {'smp_id': lambda d: d > 1000}) \
        .loc[:, ['smp_id', 'lay_id']]

In [ ]:
pd.read_csv(Path('../_data') / 'sample.csv', low_memory=False).sort_values(by='smp_id', ascending=True).head(20)

,smp_id,lay_id,smp_type,qc_control_type,smp_condition,smp_field_vol,smp_wt,instr_id,smp_submit_id,smp_rcvd_date_id,smp_logger_id,smp_login_date_id,smp_status,aphis_reg_code
120,1,1,other,blank,normal,NaN,NaN,NaN,90.0,36795,33,36795,submitted,unregulated
121,101,1,other,check,normal,NaN,NaN,NaN,90.0,36795,33,36795,submitted,unregulated
0,104,1,other,check,normal,NaN,NaN,NaN,90.0,36795,33,36795,submitted,unregulated
2409,106,1,other,check,normal,NaN,NaN,NaN,90.0,36795,33,36795,submitted,unregulated
2830,146,1,other,check,normal,NaN,NaN,NaN,90.0,38385,33,38385,submitted,unregulated
2832,162,1,other,check,normal,NaN,NaN,NaN,90.0,38385,33,38385,submitted,unregulated
1803,163,1,other,check,normal,NaN,NaN,NaN,90.0,38385,33,38385,submitted,unregulated
1,25111,123,bulk,NaN,normal,NaN,2452.7,36.0,NaN,41467,28,36987,prepared,regulated
2831,25112,124,bulk,NaN,normal,NaN,2885.3,36.0,NaN,36830,28,36987,prepared,regulated
291,25113,125,bulk,NaN,normal,NaN,2701.3,36.0,NaN,36830,28,36987,prepared,regulated
122,25114,126,bulk,NaN,normal,NaN,3126.0,36.0,NaN,36830,28,36987,prepared,regulated
1381,25115,127,bulk,NaN,normal,NaN,2826.9,36.0,NaN,36830,28,36987,prepared,regulated
1804,25116,128,bulk,NaN,normal,NaN,3033.3,36.0,NaN,36830,28,36987,prepared,regulated
3074,25117,129,bulk,NaN,normal,NaN,2669.0,36.0,NaN,36830,28,36987,prepared,regulated
2531,25118,130,bulk,NaN,normal,NaN,2561.7,36.0,NaN,36830,28,36987,prepared,regulated
2833,25119,131,bulk,NaN,normal,NaN,2921.8,36.0,NaN,36830,28,36987,prepared,regulated
2653,25120,132,bulk,NaN,normal,NaN,3011.2,36.0,NaN,36830,28,36987,prepared,regulated
301,25121,133,bulk,NaN,normal,NaN,2629.1,36.0,NaN,36830,28,36987,prepared,regulated
2470,25122,134,bulk,NaN,normal,NaN,2451.8,36.0,NaN,36830,28,36987,prepared,regulated
2834,25123,135,bulk,NaN,normal,NaN,2257.8,36.0,NaN,36830,28,36987,prepared,regulated

In [ ]:
mask_dup = _get_sample_tbl('../_data').sort_values(by='lay_id').duplicated(subset='lay_id')
_get_sample_tbl('../_data').sort_values(by='lay_id')[mask_dup]

       smp_id  lay_id
293     25381     416
2562    27054     840
2501    27058     842
2684    27060     843
18568   51235   13430
3686    76758   27915

In [ ]:
_get_sample_tbl('../_data')[_get_sample_tbl('../_data')['lay_id'] == 13430]

       smp_id  lay_id
17579   49664   13430
18568   51235   13430

In [ ]:
#| export
# DONE
def _get_mirs_mas_tbl(src_dir):
    """Returns relevant clean subset of `mir_scan_mas_data.csv` KSSL DB table.

    Returns
    -------
    Pandas DataFrame
        New DataFrame with selected columns, rows
    """
    return pd.read_csv(Path(src_dir) / 'mir_scan_mas_data.csv', low_memory=False) \
        .loc[:, ['smp_id', 'mir_scan_mas_id']]

In [ ]:
_get_mirs_mas_tbl('../_data').sort_values(by='smp_id').head(20)

       smp_id  mir_scan_mas_id
48871       1            32887
30746       1            32956
65994       1            65260
66790       1            65214
75063       1            33002
78970       1            32841
68014       1            32818
36491       1            32864
32403       1            32910
77211       1            65306
55707       1            32933
82472       1            65283
44238       1            32979
70010       1            65237
28527       1            29377
8051      101            36222
30218     101            69690
30191     101            68635
30185     101            68520
30121     101            66312

In [ ]:
#| export
# DONE
def _get_mirs_det_tbl(src_dir, valid_name=['XN', 'XS']):
    """Returns relevant clean subset of `mir_scan_det_data.csv` KSSL DB table.
       Replicates for a given mir_scan_mas_id

    Notes
    ----
    Only `scan_path_name` containing valid substring `['XN', 'XS'] by default.

    Returns
    -------
    Pandas DataFrame
        New DataFrame with selected columns, rows
    """
    return pd.read_csv(Path(src_dir) / 'mir_scan_det_data.csv', low_memory=False) \
        .dropna(subset=['scan_path_name', 'mir_scan_mas_id']) \
        .loc[:, ['mir_scan_mas_id', 'scan_path_name']] \
        .pipe(select_rows, {
            'scan_path_name': lambda d: re.search(r'X.', str(d))[0] in valid_name})

In [ ]:
_get_mirs_det_tbl('../_data')

        mir_scan_mas_id scan_path_name
0                    14   137437XS01.0
1                    14   137437XS02.0
2                    14   137437XS03.0
3                    14   137437XS04.0
4                    16   146625XS01.0
...                 ...            ...
345611            61011   211746XN04.0
345612            61018   184120XN01.0
345613            61018   184120XN02.0
345614            61018   184120XN03.0
345615            61018   184120XN04.0

[336334 rows x 2 columns]

In [ ]:
#| export
def _get_lookup_smp_id_scan_path(src_dir):
    """Returns relevant clean subset of `mir_scan_mas_data.csv` KSSL DB table.
       Builds lookup smp_id -> scan_path_name

    Returns
    -------
    Pandas DataFrame 
        New DataFrame with selected columns, rows
    """
    return pd.merge(_get_mirs_mas_tbl(src_dir), _get_mirs_det_tbl(src_dir), on='mir_scan_mas_id', how='inner') \
        .loc[:, ['smp_id', 'scan_path_name']] \
        .astype({'smp_id': int, 'scan_path_name': 'string'})

In [ ]:
_get_lookup_smp_id_scan_path('../_data')

        smp_id scan_path_name
0       128202   128202XS01.0
1       128202   128202XS02.0
2       128202   128202XS03.0
3       128202   128202XS04.0
4       128208   128208XS01.0
...        ...            ...
336329   32994    32994XS04.0
336330   33001    33001XS01.0
336331   33001    33001XS02.0
336332   33001    33001XS03.0
336333   33001    33001XS04.0

[336334 rows x 2 columns]

In [ ]:
#| export
#def build_analyte_dim_tbl(out_folder=DATA_KSSL):
def build_analyte_dim_tbl(src_dir):    
    """Builds/creates analyte_dim dim table (star schema) for KSSL dataset
       Essentially the lookup table analyte -> name, unit

    Returns
    -------
    Pandas DataFrame
        New DataFrame with selected columns, rows
    """

    df = pd.read_csv(Path(src_dir) / 'analyte.csv') \
        .loc[:, ['analyte_id', 'analyte_name', 'analyte_abbrev', 'uom_abbrev']]
    #df.to_csv(out_folder / 'analyte_dim_tbl.csv', index=False)
    return df

In [ ]:
df_tmp = pd.read_csv(Path('../_data') / 'analyte.csv') 
df_tmp.head(100)
#df_tmp[df_tmp['analyte_id'] == 622]['calc_script_path'].values

,analyte_id,analyte_name,analyte_abbrev,analyte_code,analyte_method_code,analyte_type,analyte_format,agg_method,uom_abbrev,adod_dependency,calc_script_path,calc_desc,calc_note,analyte_desc,analyte_note
0,1,"Aggregate Stability, 0.5-2mm Aggregates",aggstb,AggStb,AggStb,I,4.0,mean,% wt,1,\\aioneli93ap1\CalcScripts\Sample_Analytes\Sam...,To Be Added,NaN,Aggregate stability is the weight percent of 0...,NaN
1,2,"Liquid Limit, Atterberg",abgll,abgll,LLabg,C,4.0,concat,% H2O,0,\\aioneli93ap1\CalcScripts\Sample_Analytes\Phy...,To Be Added,NaN,Atterberg liquid limit is the gravimetric perc...,NaN
2,3,"Plastic Limit, Atterberg",abgpl,abgpl,abgpl,I,4.0,mean,% H2O,0,\\aioneli93ap1\CalcScripts\Sample_Analytes\mis...,To Be Added,NaN,Atterberg plastic limit is the water content o...,NaN
3,4,"Bulk Density, <2mm Fraction, 1/3 Bar",db_13b,Db1/3,Db13b,F,4.2,mean,g/cc,0,\\aioneli93ap1\CalcScripts\Sample_Analytes\Phy...,To Be Added,NaN,"Bulk density, <2 mm fraction, 1/3 bar is the w...",NaN
4,5,"Bulk Density, <2mm Fraction, Ovendry",db_od,DbOD,DbOD,F,4.2,mean,g/cc,0,\\aioneli93ap1\CalcScripts\Sample_Analytes\Phy...,To Be Added,NaN,"Bulk density, oven dry (105 C) is the weight p...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,112,"Anatase, petro_count",min_AE_petro_count,AE_pc,minAE,I,3.0,mean,count,0,\\aioneli93ap1\CalcScripts\Sample_Analytes\Min...,OUTPUT = 100.0 * mineral_count / total_count,NaN,to be added,NaN
96,113,"Andalusite, petro_count",min_AN_petro_count,AN_pc,minAN,I,3.0,mean,count,0,\\aioneli93ap1\CalcScripts\Sample_Analytes\Min...,OUTPUT = 100.0 * mineral_count / total_count,NaN,to be added,NaN
97,114,"Andesite, petro_count",min_FA_petro_count,FA_pc,minFA,I,3.0,mean,count,0,\\aioneli93ap1\CalcScripts\Sample_Analytes\Min...,OUTPUT = 100.0 * mineral_count / total_count,NaN,to be added,NaN
98,115,"Anhydrite, petro_count",min_AY_petro_count,AY_pc,minAY,I,3.0,mean,count,0,\\aioneli93ap1\CalcScripts\Sample_Analytes\Min...,OUTPUT = 100.0 * mineral_count / total_count,NaN,to be added,NaN
99,116,"Anorthite, petro_count",min_FN_petro_count,FN_pc,minFN,I,3.0,mean,count,0,\\aioneli93ap1\CalcScripts\Sample_Analytes\Min...,OUTPUT = 100.0 * mineral_count / total_count,NaN,to be added,NaN

In [ ]:
analyte = build_analyte_dim_tbl('../_data'); analyte

,analyte_id,analyte_name,analyte_abbrev,uom_abbrev
0,1,"Aggregate Stability, 0.5-2mm Aggregates",aggstb,% wt
1,2,"Liquid Limit, Atterberg",abgll,% H2O
2,3,"Plastic Limit, Atterberg",abgpl,% H2O
3,4,"Bulk Density, <2mm Fraction, 1/3 Bar",db_13b,g/cc
4,5,"Bulk Density, <2mm Fraction, Ovendry",db_od,g/cc
...,...,...,...,...
951,1496,"p-nitrophenol, Arylsulfatase",PNitroArylS,mg/kg/hr
952,1497,"p-nitrophenol, Alkaline Phosphatase",PNitroAlPho,mg/kg/hr
953,1498,"p-nitrophenol, Acid Phosphatase",PNitroAcPho,mg/kg/hr
954,1499,"Bulk Density, Syringe, Field Moisture",db_sy,g/cc
955,1500,"Field Water Content, Syringe",fw_sy,% wt

In [ ]:
lut_analyte = dict(zip(analyte.analyte_id, analyte.analyte_name))
lut_analyte

{1: 'Aggregate Stability, 0.5-2mm Aggregates',
 2: 'Liquid Limit, Atterberg',
 3: 'Plastic Limit, Atterberg',
 4: 'Bulk Density, <2mm Fraction, 1/3 Bar',
 5: 'Bulk Density, <2mm Fraction, Ovendry',
 6: 'Water Retention, 0.06 Bar, <2mm Clod',
 7: 'Water Retention, 1 Bar, <2mm Clod',
 8: 'Water Retention, 1/10 Bar, <2mm Clod',
 9: 'Water Retention, 1/3 Bar, <2mm Clod',
 10: 'Bulk Density, <2 mm Fraction, 1/10 Bar',
 11: 'Water Retention, 0.06 Bar, Cores',
 12: 'Water Retention, 1 Bar, Cores',
 13: 'Water Retention, 1/10 Bar, Cores',
 14: 'Water Retention, 1/3 Bar, Cores',
 15: 'Water Retention, 2 Bar, Cores',
 16: 'Bulk Density, <2mm Fraction, Reconstituted, 1/3 Bar',
 17: 'Bulk Density, <2mm Fraction, Reconstituted, Ovendry',
 18: 'Water Retention, 1/3 Bar, Reconstituted, Moist',
 19: 'Bulk Density, Compliant Cavity, Field Moisture',
 20: 'Field Water Content, Compliant Cavity',
 21: 'Bulk Density, Core, <2 mm fraction, Field Moist',
 22: 'Bulk Density, Clod, Field Water Content',
 23: 'Bulk Density, <2mm Fraction, Rewet, Ovendry',
 24: 'Bulk Density, 1/3 Bar, Before Rewet (Organic Soils)',
 25: 'Bulk Density, 1/3 Bar, Rewet (Organic Soils)',
 26: 'Water Retention, 1/3 Bar, Before Rewet',
 27: 'Water Retention, 1/3 Bar, Rewet',
 28: 'Bulk Density, 1/3 Bar, Estimated',
 34: 'Coarse Fragments, 2-5mm, Slaking Percentage',
 43: 'Field Water Content, <2mm',
 44: 'Weight, >75mm',
 45: 'Weight, 2-5mm',
 46: 'Weight, 2-5mm, preslaked',
 47: 'Weight, 2-5mm, slaked',
 48: 'Weight, 20-75mm',
 49: 'Weight, 5-20mm',
 50: 'Weight, air-dry sample',
 51: 'Weight, moist sample',
 52: 'Weight, shelf sample',
 53: 'Weight, sub-sample air-dry',
 54: 'Carbonate, <2mm Fraction',
 55: 'Gibbsite, dsc',
 56: 'Kaolinite, dsc',
 57: 'Carbonate, 2-20mm Fraction',
 58: 'Carbon, Total',
 59: 'Aluminum, Oxalate Extractable',
 60: 'Iron, Oxalate Extractable',
 61: 'Manganese, Oxalate Extractable',
 63: 'Phosphorus, Oxalate Extractable',
 64: 'Silicon, Oxalate Extractable',
 65: 'Aluminum, Dithionite Citrate Extractable',
 66: 'Iron, Dithionite Citrate Extractable',
 67: 'Manganese, Dithionite Citrate Extractable',
 68: 'Silicon, Dithionite Citrate Extractable',
 69: 'Aluminum, KCl Extractable',
 70: 'Manganese, KCl Extractable',
 71: 'Aluminum, Sodium Pyrophosphate Extractable',
 72: 'Carbon, Sodium Pyrophosphate Extractable',
 73: 'Iron, Sodium Pyrophosphate Extractable',
 74: 'Manganese, Sodium Pyrophosphate Extractable',
 75: 'Calcium, Neutral Salt Extractable',
 76: 'CEC, NH4Cl',
 77: 'Magnesium, Neutral Salt Extractable',
 78: 'Potassium, Neutral Salt Extractable',
 79: 'Sodium, Neutral Salt Extractable',
 80: 'Volume, CEC, NH4Cl Syringe Extract',
 81: 'Calcium, NH4OAc Extractable',
 82: 'CEC, NH4OAc, pH 7.0',
 83: 'Magnesium, NH4OAc Extractable',
 84: 'Potassium, NH4OAc Extractable',
 85: 'Sodium, NH4OAc Extractable',
 86: 'Volume, CEC, NH4OAc, Syringe Extract',
 88: 'Acidity, BaCl2-TEA Extractable, pH 8.2',
 89: 'Uncorrected Gypsum,  < 2mm Fraction',
 90: 'Uncorrected Gypsum, 2 to 20mm',
 91: 'Mineral Content, Loss on Ignition',
 92: 'Nitrate, 1M KCl',
 93: 'Nitrogen, Mineralizable',
 94: 'Nitrogen, Total',
 95: 'Basic Glass, glass_count',
 96: 'Diatoms, glass_count',
 98: 'Glass Aggregates, glass_count',
 99: 'Glass, glass_count',
 100: 'Glass-coated Feldspar, glass_count',
 101: 'Glass-coated Grain, glass_count',
 102: 'Glass-coated Hornblende, glass_count',
 103: 'Glass-coated Opaques, glass count',
 104: 'Glass-coated Quartz, glass_count',
 105: 'Glassy Materials, glass_count',
 106: 'Other, glass count',
 107: 'Plant Opal, glass_count',
 108: 'Sponge Spicule, glass_count',
 109: 'Actinolite, petro_count',
 110: 'Albite, petro_count',
 111: 'Amphibole, petro_count',
 112: 'Anatase, petro_count',
 113: 'Andalusite, petro_count',
 114: 'Andesite, petro_count',
 115: 'Anhydrite, petro_count',
 116: 'Anorthite, petro_count',
 331: 'Sand, Very Coarse PSDA, NaOH, Pipet',
 332: 'Sand, Very Fine PSDA, NaOH, Pipet',
 333: 'Silt, Fine PSDA, NaOH, Pipet',
 334: 'Clay',
 335: 'Clay, Carbonate',
 336: 'Clay, Fine',
 337: 'Clay, Noncarbonate',
 338: 'Sand, Coarse',
 339: 'Sand, Fine',
 340: 'Sand, Medium',
 341: 'Sand, Very Coarse',
 342: 'Sand, Very Fine',
 343: 'Silt, Fine',
 344: 'Clay PSDA, Ultrasonic, Pipet',
 345: 'Sand, Coarse PSDA, Ultrasonic, Pipet',
 346: 'Sand, Fine PSDA, Ultrasonic, Pipet',
 347: 'Sand, Medium PSDA, Ultrasonic, Pipet',
 789: 'N, Biomass Flush',
 790: 'C, glucose',
 791: 'C, KMnO4 extract',
 792: 'C, CO3',
 794: 'FMOD, Bio, whole soil',
 795: 'Acidity, BaCl2-TEA Extractable, pH 8.2, centrifuge',
 798: 'Fluorapatite, x-ray',
 799: 'Natrojarosite, x-ray',
 818: 'Plasticity Index, Atterberg',
 838: 'Phosphorus, Anion Resin Extractable, 1 hour',
 839: 'Phosphorus, Anion Resin Extractable, 24 hour',
 858: 'Hydroxy-Interlayer Smectite, x-ray',
 859: 'Hydroxy-Interlayer Vermiculite, x-ray',
 117: 'Anorthoclase, petro_count',
 118: 'Anthophyllite, petro_count',
 119: 'Antigorite, petro_count',
 120: 'Apatite, petro_count',
 121: 'Aragonite, petro_count',
 122: 'Arfvedsonite, petro_count',
 123: 'Augite, petro_count',
 124: 'Barite, petro_count',
 125: 'Basic Glass, petro_count',
 126: 'Beryl, petro_count',
 127: 'Biotite, petro_count',
 128: 'Biotite-Chlorite, petro_count',
 129: 'Boehmite, petro_count',
 130: 'Bronzite, petro_count',
 131: 'Brookite, petro_count',
 132: 'Brucite, petro_count',
 133: 'Calcite, petro_count',
 134: 'Carbonate Aggregates, petro_count',
 135: 'Cassiterite, petro_count',
 136: 'Chert (Chalcedony, Jasper, Agate, Onyx), petro_count',
 137: 'Chlorite, petro_count',
 138: 'Chlorite-Mica, petro_count',
 139: 'Chrysotile, petro_count',
 140: 'Clay-Coated Quartz, petro_count',
 141: 'Cliachite (Bauxite), petro_count',
 142: 'Clinozoisite, petro_count',
 143: 'Coal, petro_count',
 144: 'Collophane, petro_count',
 145: 'Corundum, petro_count',
 146: 'Cristobalite, petro_count',
 147: 'Diatoms, petro_count',
 148: 'Diopside, petro_count',
 149: 'Dolomite, petro_count',
 150: 'Dumortierite, petro_count',
 151: 'Enstatite, petro_count',
 152: 'Epidote, petro_count',
 153: 'Feldspar, petro_count',
 154: 'Feldspathoids, petro_count',
 155: 'Ferromagnesium Mineral, petro_count',
 156: 'Fluorite, petro_count',
 157: 'Foraminifera, petro_count',
 158: 'Galena, petro_count',
 159: 'Garnet, petro_count',
 160: 'Gibbsite, petro_count',
 161: 'Glass Aggregates, petro_count',
 162: 'Glass Coated Feldspar, petro_count',
 163: 'Glass Coated Grain, petro_count',
 164: 'Glass Coated Hornblende, petro_count',
 165: 'Glass Coated Opaque, petro_count',
 166: 'Glass Coated Quartz, petro_count',
 167: 'Glass, petro_count',
 168: 'Glassy Materials, petro_count',
 169: 'Glauconite, petro_count',
 170: 'Glaucophane, petro_count',
 171: 'Goethite, petro_count',
 172: 'Gold, petro_count',
 173: 'Gypsum, petro_count',
 174: 'Halloysite, petro_count',
 175: 'Hematite, petro_count',
 176: 'Hornblende, petro_count',
 177: 'Hydrobiotite, petro_count',
 179: 'Iddingsite, petro_count',
 180: 'Iron Oxide-Coated Quartz, petro_count',
 181: 'Iron Oxides (Goethite, Magnetite, Hematite, Li), petro_count',
 182: 'Jarosite, petro_count',
 183: 'Kaolinite, petro_count',
 184: 'Kyanite, petro_count',
 185: 'Labradorite, petro_count',
 186: 'Lamprobolite, petro_count',
 187: 'Lepidolite, petro_count',
 188: 'Lepidomelane, petro_count',
 189: 'Leucoxene, petro_count',
 190: 'Limonite, petro_count',
 191: 'Lithiophorite, petro_count',
 192: 'Magnesite, petro_count',
 193: 'Magnetite, petro_count',
 194: 'Marcasite, petro_count',
 195: 'Melilite, petro_count',
 196: 'Mica, petro_count',
 197: 'Microcline, petro_count',
 199: 'Monazite, petro_count',
 200: 'Montmorillonite, petro_count',
 201: 'Muscovite, petro_count',
 202: 'Nepheline, petro_count',
 203: 'Non-Crystalline, petro_count',
 204: 'Oligoclase, petro_count',
 205: 'Olivine, petro_count',
 206: 'Opaques, petro_count',
 207: 'Orthoclase, petro_count',
 208: 'Other Resistant Minerals, petro_count',
 209: 'Other Weatherable Minerals, petro_count',
 210: 'Other, petro_count',
 211: 'Perovskite, petro_count',
 212: 'Phlogopite, petro_count',
 213: 'Piemontite, petro_count',
 214: 'Plagioclase Feldspar, petro_count',
 215: 'Plant Opal, petro_count',
 216: 'Plumbojarosite, petro_count',
 217: 'Pollen, petro_count',
 218: 'Potassium Feldspar, petro_count',
 219: 'Pyrite, petro_count',
 220: 'Pyrolusite, petro_count',
 221: 'Pyrophyllite, petro_count',
 222: 'Pyroxene, petro_count',
 223: 'Quartz, petro_count',
 224: 'Resistant Aggregates, petro_count',
 225: 'Resistant Mineraloids, petro_count',
 226: 'Resistant Minerals, petro_count',
 227: 'Rhodochrosite, petro_count',
 228: 'Riebeckite (Blue Amphibole), petro_count',
 229: 'Rutile, petro_count',
 230: 'Sanidine, petro_count',
 231: 'Sericite, petro_count',
 232: 'Siderite, petro_count',
 233: 'Siliceous Aggregates, petro_count',
 234: 'Sillimanite, petro_count',
 235: 'Sphalerite, petro_count',
 236: 'Sphene, petro_count',
 237: 'Spinel, petro_count',
 238: 'Sponge Spicule, petro_count',
 239: 'Staurolite, petro_count',
 240: 'Stilbite, petro_count',
 241: 'Sulphur, petro_count',
 242: 'Talc, petro_count',
 243: 'Topaz, petro_count',
 244: 'Tourmaline, petro_count',
 245: 'Tremolite, petro_count',
 246: 'Vermiculite, petro_count',
 247: 'Vermiculite-Chlorite, petro_count',
 248: 'Vermiculite-Hydrobiotite, petro_count',
 249: 'Vermiculite-Mica, petro_count',
 250: 'Vivianite, petro_count',
 251: 'Wavellite, petro_count',
 252: 'Weatherable Aggregates, petro_count',
 253: 'Weatherable Mineral, petro_count',
 254: 'Zeolite, petro_count',
 255: 'Zircon, petro_count',
 256: 'Zoisite, petro_count',
 258: 'Color, Pyrophosphate Extract',
 259: 'Fiber, Rubbed',
 260: 'Fiber, Unrubbed',
 262: 'Particle density <2 mm',
 263: 'Particle density >2 mm',
 265: 'pH, 1:1 Soil-KCl Suspension',
 266: 'pH, 1:50 Soil-NaFl Suspension',
 267: 'pH, Oxidized (sulfidic)',
 268: 'pH, 1:1 Soil-Water Suspension',
 269: 'Phosphorus, Water Soluble',
 270: 'Phosphorus, Bray-1 Extractable',
 271: 'Phosphorus, Bray-2 Extractable',
 272: 'Phosphorus, Citric Acid Extractable',
 273: 'Phosphorus, New Zealand P Retention',
 274: 'Phosphorus, Olsen Extractable',
 275: 'Clay PSDA, Dith, Pipet',
 276: 'Sand, Coarse PSDA, Dith, Pipet',
 277: 'Sand, Fine PSDA, Dith, Pipet',
 278: 'Sand, Medium PSDA, Dith, Pipet',
 279: 'Sand, Very Coarse PSDA, Dith, Pipet',
 280: 'Sand, Very Fine PSDA, Dith, Pipet',
 281: 'Silt, Fine PSDA, Dith, Pipet',
 282: 'Clay PSDA, Moist, Dith, Pipet',
 283: 'Sand, Coarse PSDA, Moist, Dith, Pipet',
 284: 'Sand, Fine PSDA, Moist, Dith, Pipet',
 285: 'Sand, Medium PSDA, Moist, Dith, Pipet',
 286: 'Sand, Very Coarse PSDA, Moist, Dith, Pipet',
 287: 'Sand, Very Fine PSDA, Moist, Dith, Pipet',
 288: 'Silt, Fine PSDA, Moist, Dith, Pipet',
 289: 'Clay PSDA, Moist, NaOAc, Pipet',
 290: 'Sand, Coarse PSDA, Moist, NaOAc, Pipet',
 291: 'Sand, Fine PSDA, Moist, NaOAc, Pipet',
 292: 'Sand, Medium PSDA, Moist, NaOAc, Pipet',
 293: 'Sand, Very Coarse PSDA, Moist, NaOAc, Pipet',
 474: 'Vermiculite-Hydrobiotite, x-ray',
 475: 'Vermiculite-Mica, x-ray',
 476: 'Zeolite, x-ray',
 477: 'pH, 0.01M CaCl2, Histosol',
 478: 'Optical Density, Oxalate Extract',
 479: 'Effervescence, 1N HCl',
 480: 'Fiber Type, Histosol',
 481: 'pH, 1:2 Soil-CaCl2 Suspension',
 482: 'pH, Saturated Paste',
 580: 'micromorphology',
 601: 'Field Water Content, Core',
 602: 'Field Water Content, Clod',
 622: 'Carbon, Total NCS',
 623: 'Nitrogen, Total NCS',
 624: 'Sulfur, Total NCS',
 630: 'Aegirine-Augite, petro_count',
 633: 'Allophane, petro_count',
 634: 'Cobaltite, petro_count',
 635: 'Halite, petro_count',
 636: 'Illite (Hydromuscovite), petro_count',
 637: 'Analcime, petro_count',
 638: 'Lepidocrocite, petro_count',
 639: 'Leucite, petro_count',
 640: 'Montmorillonite-Chlorite, petro_count',
 641: 'Maghemite, petro_count',
 642: 'Montmorillonite-Mica, petro_count',
 643: 'Montmorillonite-Vermiculite, petro_count',
 644: 'Palagonite, petro_count',
 645: 'Palygorskite, petro_count',
 646: 'Scapolite, petro_count',
 647: 'Sepiolite, petro_count',
 648: 'Smectite, petro_count',
 649: 'Tridymite, petro_count',
 650: 'Thenardite, petro_count',
 651: 'Melanic Index',
 652: 'Phosphorus, Mehlich3 Extractable',
 659: 'Gypsum Calculation Factor',
 660: 'Corrected Gypsum, <2mm',
 661: 'Corrected ADOD',
 663: 'Corrected ADOD, 2-20mm',
 665: 'Corrected Gypsum, 2-20mm',
 666: 'Gypsum 2-20mm Calculation Factor',
 669: 'Calcium, Major Element',
 670: 'Aluminum, Major Element',
 671: 'Iron, Major Element',
 672: 'Magnesium, Major Element',
 673: 'Manganese, Major Element',
 674: 'Phosphorus, Major Element',
 675: 'Potassium, Major Element',
 676: 'Silicon, Major Element',
 677: 'Sodium, Major Element',
 678: 'Titanium, Major Element',
 679: 'Zirconium, Major Element',
 680: 'Cadmium, Trace Element',
 681: 'Chromium, Trace Element',
 682: 'Cobalt, Trace Element',
 683: 'Copper, Trace Element',
 684: 'Lead, Trace Element',
 685: 'Manganese, Trace Element',
 294: 'Sand, Very Fine PSDA, Moist, NaOAc, Pipet',
 295: 'Silt, Fine PSDA, Moist, NaOAc, Pipet',
 296: 'Clay PSDA, Moist, NaOH, Pipet',
 297: 'Sand, Coarse PSDA, Moist, NaOH, Pipet',
 298: 'Sand, Fine PSDA, Moist, NaOH, Pipet',
 299: 'Sand, Medium PSDA, Moist, NaOH, Pipet',
 300: 'Sand, Very Coarse PSDA, Moist, NaOH, Pipet',
 301: 'Sand, Very Fine PSDA, Moist, NaOH, Pipet',
 302: 'Silt, Fine PSDA, Moist, NaOH, Pipet',
 303: 'Clay PSDA, Moist, Pipet',
 304: 'Clay, Carbonate, Moist',
 305: 'Clay, Fine, Moist',
 306: 'Clay, Noncarbonate, Moist',
 307: 'Sand, Coarse PSDA, Moist, Pipet',
 308: 'Sand, Fine PSDA, Moist, Pipet',
 309: 'Sand, Medium PSDA, Moist, Pipet',
 310: 'Sand, Very Coarse PSDA, Moist, Pipet',
 311: 'Sand, Very Fine PSDA, Moist, Pipet',
 312: 'Silt, Fine PSDA, Moist, Pipet',
 313: 'Clay PSDA, Moist, Ultrasonic, Pipet',
 314: 'Sand, Coarse PSDA, Moist, Ultrasonic, Pipet',
 315: 'Sand, Fine PSDA, Moist, Ultrasonic, Pipet',
 316: 'Sand, Medium PSDA, Moist, Ultrasonic, Pipet',
 317: 'Sand, Very Coarse PSDA, Moist, Ultrasonic, Pipet',
 318: 'Sand, Very Fine PSDA, Moist, Ultrasonic, Pipet',
 319: 'Silt, Fine PSDA, Moist, Ultrasonic, Pipet',
 320: 'Clay PSDA, NaOAc, Pipet',
 321: 'Sand, Coarse PSDA, NaOAc, Pipet',
 322: 'Sand, Fine PSDA, NaOAc, Pipet',
 323: 'Sand, Medium PSDA, NaOAc, Pipet',
 324: 'Sand, Very Coarse PSDA, NaOAc, Pipet',
 325: 'Sand, Very Fine PSDA, NaOAc, Pipet',
 326: 'Silt, Fine PSDA, NaOAc, Pipet',
 327: 'Clay PSDA, NaOH, Pipet',
 328: 'Sand, Coarse PSDA, NaOH, Pipet',
 329: 'Sand, Fine PSDA, NaOH, Pipet',
 330: 'Sand, Medium PSDA, NaOH, Pipet',
 348: 'Sand, Very Coarse PSDA, Ultrasonic, Pipet',
 349: 'Sand, Very Fine PSDA, Ultrasonic, Pipet',
 350: 'Silt, Fine PSDA, Ultrasonic, Pipet',
 351: 'Clay, Carbonate, H2O Dispersible',
 352: 'Clay, Fine, H2O Dispersible',
 353: 'Clay, H2O Dispersible',
 354: 'Sand, Coarse, H2O Dispersible',
 355: 'Sand, Fine, H2O Dispersible',
 356: 'Sand, Medium, H2O Dispersible',
 357: 'Sand, Very Coarse, H2O Dispersible',
 358: 'Sand, Very Fine, H2O Dispersible',
 359: 'Silt, Fine, H2O Dispersible',
 360: 'Clay, H2O Dispersible, Hydrometer',
 361: 'Sand, H2O Dispersible, Hydrometer',
 362: 'Silt, H2O Dispersible, Hydrometer',
 363: 'Clay, H2O Dispersible, Moist',
 364: 'Electrical Conductivity, Predict, 1:2 (w/w)',
 365: 'Acetate, Saturation Extract',
 366: 'Bicarbonate, Saturation Extract',
 367: 'Borate, Saturation Extract',
 368: 'Bromide, Saturation Extract',
 369: 'Calcium, Saturation Extract',
 370: 'Carbonate, Saturation Extract',
 371: 'Chloride, Saturation Extract',
 372: 'Electrical Conductivity, Saturation Extract',
 373: 'Fluoride, Saturation Extract',
 374: 'Magnesium, Saturation Extract',
 375: 'Nitrate, Saturation Extract',
 376: 'Nitrite, Saturation Extract',
 378: 'Phosphate, Saturation Extract',
 379: 'Potassium, Saturation Extract',
 380: 'Resistivity, Saturated Paste',
 381: 'Sodium, Saturation Extract',
 382: 'Sulfate, Saturation Extract',
 383: 'Water Content, Saturated Paste',
 384: 'Sulfur, Total',
 385: 'Surface Area, Ethylene Glycol Monoethyl Ether',
 386: 'Gypsum, tga',
 387: 'Gibbsite, tga',
 388: 'Goethite, tga',
 389: 'Kaolinite, tga',
 391: 'Aluminum, Total',
 392: 'Arsenic, Total',
 393: 'Boron, Total',
 394: 'Cadmium, Total',
 395: 'Calcium, Total',
 396: 'Chromium, Total',
 397: 'Cobalt, Total',
 398: 'Copper, Total',
 399: 'Iron, Total',
 400: 'Lead, Total',
 401: 'Magnesium, Total',
 402: 'Manganese, Total',
 403: 'Mercury, Total',
 404: 'Nickel, Total',
 405: 'Phosphorus, Total',
 406: 'Potassium, Total',
 407: 'Selenium, Total',
 408: 'Silicon, Total',
 409: 'Sodium, Total',
 410: 'Titanium, Total',
 411: 'Zinc, Total',
 412: 'Zirconium, Total',
 413: 'Water Retention, 0.06 Bar, <2mm Sieve',
 414: 'Water Retention, 1/10 Bar, <2mm Sieve, Air-dry',
 415: 'Water Retention, 1/3 Bar, <2mm Sieve',
 416: 'Water Retention, 1 Bar, <2mm Sieve, Air-dry',
 417: 'Water Retention, 15 Bar, <2mm,  Air-dry',
 418: 'Water Retention, 2 Bar, <2mm Sieve, Air-dry',
 420: 'Ratio, Air-dry/Ovendry',
 423: 'Amphibole, x-ray',
 424: 'Analcime, x-ray',
 425: 'Anatase, x-ray',
 426: 'Antigorite, x-ray',
 427: 'Aragonite, x-ray',
 428: 'Biotite, x-ray',
 429: 'Biotite-Chlorite, x-ray',
 430: 'Brucite, x-ray',
 431: 'Calcite, x-ray',
 432: 'Chlorite, x-ray',
 433: 'Chlorite-Mica, x-ray',
 434: 'Cristobalite, x-ray',
 435: 'Dolomite, x-ray',
 436: 'Enstatite, x-ray',
 437: 'Feldspar, x-ray',
 438: 'Gibbsite, x-ray',
 439: 'Glauconite, x-ray',
 440: 'Goethite, x-ray',
 441: 'Gypsum, x-ray',
 442: 'Halloysite, x-ray',
 443: 'Hematite, x-ray',
 444: 'Hornblende, x-ray',
 445: 'Hydrobiotite, x-ray',
 446: 'Illite (Hydromuscovite), x-ray',
 447: 'Kaolinite, x-ray',
 448: 'Labradorite, x-ray',
 449: 'Lepidocrocite, x-ray',
 450: 'Maghemite, x-ray',
 451: 'Magnetite, x-ray',
 452: 'Mica, x-ray',
 453: 'Montmorillonite, x-ray',
 454: 'Montmorillonite-Chlorite, x-ray',
 455: 'Montmorillonite-Mica, x-ray',
 456: 'Montmorillonite-Vermiculite, x-ray',
 457: 'Muscovite, x-ray',
 458: 'Non-Crystalline, x-ray',
 459: 'Oligoclase, x-ray',
 460: 'Orthoclase, x-ray',
 461: 'Palygorskite, x-ray',
 462: 'Phlogopite, x-ray',
 463: 'Plagioclase Feldspar, x-ray',
 464: 'Potassium Feldspar, x-ray',
 465: 'Pyrophyllite, x-ray',
 466: 'Quartz, x-ray',
 467: 'Resistant Minerals, x-ray',
 468: 'Sepiolite, x-ray',
 469: 'Talc, x-ray',
 470: 'Thenardite, x-ray',
 471: 'Tridymite, x-ray',
 472: 'Vermiculite, x-ray',
 473: 'Vermiculite-Chlorite, x-ray',
 686: 'Mercury, Trace Element',
 687: 'Nickel, Trace Element',
 688: 'Phosphorus, Trace Element',
 689: 'Zinc, Trace Element',
 690: 'Nitrogen, Mineralizable (EPA)',
 722: 'Calcium, NH4OAc Extractable, 2M KCl displacement',
 723: 'CEC, NH4OAc, pH 7.0, 2M KCl displacement',
 724: 'Magnesium, NH4OAc Extractable, 2M KCl displacement',
 725: 'Potassium, NH4OAc Extractable, 2M KCl displacement',
 726: 'Sodium, NH4OAc Extractable, 2M KCl displacement',
 730: 'Iron, KCl Extractable',
 750: 'Volume, CEC, NH4OAc, Syringe Extract, 2M KCl displacement',
 772: 'Carbon, pom',
 773: 'Nitrogen, pom',
 775: 'Sulfur, pom',
 776: 'Carbon, pom mineral',
 777: 'Nitrogen, pom mineral',
 778: 'Sulfur, pom mineral',
 779: 'Carbon, root',
 780: 'Nitrogen, root',
 781: 'Sulfur, root',
 782: 'Percent, roots',
 783: 'Carbon, plants',
 784: 'Nitrogen, plants',
 785: 'Sulfur, plants',
 786: 'Percent, plants',
 787: 'FMOD, Bio, <2 mm',
 788: 'CO2, Biomass Flush, 10-day',
 878: 'Silver, Trace Element',
 879: 'Arsenic, Trace Element',
 880: 'Barium, Trace Element',
 881: 'Beryllium, Trace Element',
 882: 'Antimony, Trace Element',
 883: 'Selenium, Trace Element',
 885: 'Strontium, Trace Element',
 886: 'Molybdenum, Trace Element',
 887: 'Vanadium, Trace Element',
 888: 'Tin, Trace Element',
 889: 'Tungsten, Trace Element',
 890: 'pH, Oxidized (initial)',
 910: 'Clay, Fine, Moist, Ultrasonic, Pipet',
 918: 'Clay, Fine, Ultrasonic, Pipet',
 932: 'Thallium, Trace Element',
 978: 'Clay, Carbonate, H2O Dispersible, Moist',

In [ ]:
build_analyte_dim_tbl('../_data')[build_analyte_dim_tbl('../_data')['analyte_id'] == 622]

     analyte_id       analyte_name analyte_abbrev uom_abbrev
314         622  Carbon, Total NCS      c_tot_ncs       % wt

In [ ]:
#| export
#def build_taxonomy_dim_tbl(out_folder=DATA_KSSL):
def build_taxonomy_dim_tbl(src_dir):
    """Returns relevant subset of `lims_ped_tax_hist.csv` KSSL DB table

    Notes
    ----
    A same `lims_pedon_id` column as duplicates (several classifi. version).
    Only `taxonomic_classification_type` = `'sampled as'` should be considered.

    Returns
    -------
    Pandas DataFrame
        New DataFrame with selected columns, rows
    """
    df = pd.read_csv(Path(src_dir) / 'lims_ped_tax_hist.csv') \
        .pipe(select_rows, {'taxonomic_classification_type': lambda d: d == 'sampled as'}) \
        .loc[:, ['lims_pedon_id', 'taxonomic_order', 'taxonomic_suborder',
                 'taxonomic_great_group', 'taxonomic_subgroup']]
    #df.to_csv(out_folder / 'taxonomy_dim_tbl.csv', index=False)
    return df

In [ ]:
build_taxonomy_dim_tbl('../_data')

,lims_pedon_id,taxonomic_order,taxonomic_suborder,taxonomic_great_group,taxonomic_subgroup
1,96,alfisols,udalfs,hapludalfs,typic hapludalfs
2,98,mollisols,udolls,argiudolls,typic argiudolls
3,53,mollisols,udolls,argiudolls,typic argiudolls
4,54,mollisols,udolls,argiudolls,typic argiudolls
5,55,mollisols,udolls,argiudolls,typic argiudolls
...,...,...,...,...,...
8330,40544,mollisols,ustolls,haplustolls,entic haplustolls
8331,40538,mollisols,ustolls,haplustolls,entic haplustolls
8332,40539,mollisols,ustolls,haplustolls,cumulic haplustolls
8333,40541,mollisols,ustolls,haplustolls,entic haplustolls
8334,40543,mollisols,ustolls,haplustolls,entic haplustolls

In [ ]:
#| export
def build_location_dim_tbl(out_folder=DATA_KSSL):
    pass

In [ ]:
pd.read_csv('../_data/calc.csv')

,calc_id,calc_name,calc_abbrev,calc_format,calc_type,calc_depth,calc_size_fraction_base,uom_abbrev,calc_result_type,calc_analyte,calc_script_path,calc_algorithm_desc,calc_desc,calc_note
0,1,"Aluminum Saturation, CEC-Set 1",al_sat_cec1,3.0,layer,3,<2 mm,%,I,AlSat_d-1_S,\\aioneli93ap1\CalcScripts\Layer_Results\Excha...,(AL_KCL/(Sum of bases))*100,Aluminum saturation is calculated by (AL_KCL/(...,NaN
1,2,"Base Saturation, NH4OAc, pH 7.0, CEC-Set 1",bsesat_cec1,3.0,layer,2,<2 mm,%,I,BSSBas_d-1_S,\\aioneli93ap1\CalcScripts\Layer_Results\Excha...,([base_sum] \ [cec_nh4]) * 100,NH4OAC base saturation (pH 7.0) is calculated ...,NaN
2,3,"Base Saturation, Sum of Cations, pH 8.2, CEC-S...",bsecat_cec1,3.0,layer,3,<2 mm,%,I,BSSCat_d-1_S,\\aioneli93ap1\CalcScripts\Layer_Results\Excha...,([base_sum] \ [cec_sum]) * 100,Base saturation by sum of cations (pH 8.2) is ...,Used to test calculation engine
3,4,"Bulk Density, Whole Soil, Field Moist",db_fmb,3.2,layer,1,whole soil,g/cc,F,DbFMb_d-1,\\aioneli93ap1\CalcScripts\Sample_Analytes\Sam...,to be added,"Bulk density, whole soil, field moist, is the ...",NaN
4,5,"Bulk Density, Whole Soil, Moist",db_fmstw,3.2,layer,8,whole soil,g/cc,F,Dbfmw_d-1_S,\\aioneli93ap1\CalcScripts\Layer_Results\Engin...,db_13bw + (((wpl2 * w3cld / 100.) * db_13bw) ...,"Bulk density, whole soil, moist is the weight ...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1380,"Ratio, Effective CEC to Clay, <2mm, CECd-Set 40",ecec_cly_cecd40,4.2,layer,3,<2 mm,(NA),F,ececcl_d-46_S,\\aioneli93ap1\CalcScripts\Layer_Results\Engin...,(ecec_cec / clay_tot_psa),The ECEC / total clay ratio is calculated by E...,Nexion 350D
812,1381,"Ratio, Effective CEC to Clay, <2mm, CECd-Set 41",ecec_cly_cecd41,4.2,layer,3,<2 mm,(NA),F,ececcl_d-47_S,\\aioneli93ap1\CalcScripts\Layer_Results\Engin...,(ecec_cec / clay_tot_psa),The ECEC / total clay ratio is calculated by E...,Nexion 350D
813,1382,"Carbon, hmin, N Prep",Chmin,6.2,layer,1,<2 mm,% wt,F,c_hmin_d-1_N,\\aioneli93ap1\CalcScripts\Layer_Results\Biolo...,to be added,The carbon content of the less than 53 micron ...,NaN
814,1383,"Nitrogen, hmin, N Prep",Nhmin,6.2,layer,1,<2 mm,% wt,F,n_hmin_d-1_N,\\aioneli93ap1\CalcScripts\Layer_Results\Biolo...,to be added,The nitrogen content of the less than 53 micro...,NaN
815,1384,"Sulfur, hmin, N Prep",Shmin,6.2,layer,1,<2 mm,% wt,F,s_hmin_d-1_N,\\aioneli93ap1\CalcScripts\Layer_Results\Biolo...,to be added,The sulfur content of the less than 53 micron ...,NaN

In [ ]:
pd.read_csv('../_data/result.csv')

,result_id,result_type,result_source_id,calc_id,lab_id,size_frac,calc_value,reliability,initial_calc_date,last_recalc_date
0,67747,layer,14509,24,1,<75 mm,0.011698188,NaN,04/25/04 00:00:00,08/05/15 10:28:58
1,67749,layer,14952,35,1,<2 mm,1.0374184,NaN,06/10/05 00:00:00,NaN
2,67752,layer,14950,66,1,<2 mm,0.84027778,NaN,06/10/05 00:00:00,NaN
3,67756,layer,14945,80,1,<2 mm,0.1624,NaN,06/10/05 00:00:00,NaN
4,67764,layer,14516,45,1,<75 mm,34.577806,NaN,04/25/04 00:00:00,08/05/15 10:29:33
...,...,...,...,...,...,...,...,...,...,...
5059244,6936797,pedon,40205,1249,1,<2 mm,38.077,NaN,12/19/19 19:40:37,12/19/19 19:42:03
5059245,6937149,pedon,40205,1377,1,<2 mm,0.605,NaN,12/19/19 19:44:09,12/19/19 19:44:15
5059246,6946678,pedon,40105,1249,1,<2 mm,control depth 68 beyond last horizon depth 51,NaN,01/17/20 14:53:39,01/17/20 14:54:25
5059247,6946703,pedon,40105,1250,1,<2 mm,control depth 68 beyond last horizon depth 51,NaN,01/17/20 14:53:49,01/17/20 14:54:35
5059248,6946931,pedon,40105,1377,1,<2 mm,control depth 68 beyond last horizon depth 51,NaN,01/17/20 14:55:36,01/17/20 14:55:39

In [ ]:
#| export
#def build_sample_analysis_fact_tbl(out_folder=DATA_KSSL):
def build_sample_analysis_fact_tbl(src_dir):
    """Builds/creates sample_analysis fact table (star schema) for KSSL dataset
       Join: layer_analyte - layer - sample  

    Returns
    -------
    Pandas DataFrame
        New DataFrame with selected columns, rows
    """
    df = pd.merge(
        pd.merge(_get_layer_tbl(src_dir), _get_sample_tbl(src_dir), on='lay_id'),
        _get_layer_analyte_tbl(src_dir), on='lay_id')

    #df.to_csv(out_folder / 'sample_analysis_fact_tbl.csv', index=False)
    return df

In [ ]:
pd.set_option('display.max_rows', 101)

In [ ]:
build_sample_analysis_fact_tbl('../_data').sort_values(by=['lay_id', 'smp_id', 'analyte_id']).head(100)

,lay_id,lims_pedon_id,lims_site_id,lay_depth_to_top,smp_id,analyte_id,calc_value
13478,123,35,36,0.0,25111,2,40.000000
13459,123,35,36,0.0,25111,59,0.173543
13460,123,35,36,0.0,25111,60,0.546500
13461,123,35,36,0.0,25111,61,808.432031
13462,123,35,36,0.0,25111,63,916.222968
13463,123,35,36,0.0,25111,64,0.025870
13451,123,35,36,0.0,25111,81,11.322780
13452,123,35,36,0.0,25111,82,19.591154
13453,123,35,36,0.0,25111,83,2.400332
13454,123,35,36,0.0,25111,84,0.727373
13455,123,35,36,0.0,25111,85,0.218212
13456,123,35,36,0.0,25111,86,59.047807
13458,123,35,36,0.0,25111,88,8.788857
13481,123,35,36,0.0,25111,99,1.000000
13482,123,35,36,0.0,25111,106,97.000000
13483,123,35,36,0.0,25111,107,2.000000
13450,123,35,36,0.0,25111,266,8.600000
13448,123,35,36,0.0,25111,268,5.500000
13465,123,35,36,0.0,25111,273,19.000000
13466,123,35,36,0.0,25111,334,22.266631
13467,123,35,36,0.0,25111,336,2.960304
13468,123,35,36,0.0,25111,337,22.266631
13469,123,35,36,0.0,25111,338,1.261223
13470,123,35,36,0.0,25111,339,0.983326
13471,123,35,36,0.0,25111,340,1.100898
13472,123,35,36,0.0,25111,341,0.919196
13473,123,35,36,0.0,25111,342,1.549808
13474,123,35,36,0.0,25111,343,55.730932
13457,123,35,36,0.0,25111,417,4.285714
13447,123,35,36,0.0,25111,420,1.026532
13464,123,35,36,0.0,25111,478,0.093000
13449,123,35,36,0.0,25111,481,5.110000
13475,123,35,36,0.0,25111,622,2.129027
13476,123,35,36,0.0,25111,623,0.195041
13477,123,35,36,0.0,25111,624,0.018478
13479,123,35,36,0.0,25111,651,1.778894
13480,123,35,36,0.0,25111,818,18.000000
13484,123,35,36,0.0,25111,1424,-0.009398
13485,123,35,36,0.0,25111,1426,2.624175
13498,124,35,36,8.0,25112,59,0.194718
13499,124,35,36,8.0,25112,60,0.744448
13500,124,35,36,8.0,25112,61,613.201656
13501,124,35,36,8.0,25112,63,1086.550303
13502,124,35,36,8.0,25112,64,0.024743
13505,124,35,36,8.0,25112,69,0.000000
13506,124,35,36,8.0,25112,70,2.611175
13490,124,35,36,8.0,25112,81,9.631945
13491,124,35,36,8.0,25112,82,17.349720
13492,124,35,36,8.0,25112,83,1.532355
13493,124,35,36,8.0,25112,84,0.364846
13494,124,35,36,8.0,25112,85,0.243231
13495,124,35,36,8.0,25112,86,59.363888
13497,124,35,36,8.0,25112,88,11.066826
13520,124,35,36,8.0,25112,98,0.000000
13521,124,35,36,8.0,25112,99,1.000000
13522,124,35,36,8.0,25112,106,96.000000
13523,124,35,36,8.0,25112,107,3.000000
13524,124,35,36,8.0,25112,108,0.000000
13489,124,35,36,8.0,25112,266,8.730000
13487,124,35,36,8.0,25112,268,5.480000
13504,124,35,36,8.0,25112,273,22.000000
13507,124,35,36,8.0,25112,334,20.816781
13508,124,35,36,8.0,25112,336,8.758280
13509,124,35,36,8.0,25112,337,20.816781
13510,124,35,36,8.0,25112,338,1.401918
13511,124,35,36,8.0,25112,339,0.959207
13512,124,35,36,8.0,25112,340,1.159481
13513,124,35,36,8.0,25112,341,0.505956
13514,124,35,36,8.0,25112,342,1.444081
13515,124,35,36,8.0,25112,343,56.442247
13496,124,35,36,8.0,25112,417,9.436834
13486,124,35,36,8.0,25112,420,1.024322
13503,124,35,36,8.0,25112,478,0.097000
13488,124,35,36,8.0,25112,481,4.910000
13516,124,35,36,8.0,25112,622,1.701399
13517,124,35,36,8.0,25112,623,0.160819
13518,124,35,36,8.0,25112,624,0.018438
13519,124,35,36,8.0,25112,651,1.790576
13525,124,35,36,8.0,25112,1424,0.309402
13526,124,35,36,8.0,25112,1426,2.716475
46039,125,35,36,23.0,25113,59,0.158691
46040,125,35,36,23.0,25113,60,0.585039
46041,125,35,36,23.0,25113,61,497.230227
46042,125,35,36,23.0,25113,63,423.174661
46043,125,35,36,23.0,25113,64,0.025390
46046,125,35,36,23.0,25113,69,0.564656
46047,125,35,36,23.0,25113,70,1.468106
46031,125,35,36,23.0,25113,81,8.520658
46032,125,35,36,23.0,25113,82,16.577357
46033,125,35,36,23.0,25113,83,1.951107
46034,125,35,36,23.0,25113,84,0.345766
46035,125,35,36,23.0,25113,85,0.271673
46036,125,35,36,23.0,25113,86,60.124457
46038,125,35,36,23.0,25113,88,8.582967
46060,125,35,36,23.0,25113,99,0.000000
46061,125,35,36,23.0,25113,106,97.000000
46062,125,35,36,23.0,25113,107,2.000000
46063,125,35,36,23.0,25113,108,0.000000
46030,125,35,36,23.0,25113,266,8.860000
46028,125,35,36,23.0,25113,268,5.470000

In [ ]:
# How many data points for such list of analytes? 
analyte_id, analyte_name, count

In [ ]:
build_sample_analysis_fact_tbl('../_data').groupby('analyte_id')['analyte_id']\
    .count().sort_values(ascending=False).head(99)

analyte_id
622     91658
623     91657
624     91655
420     91249
1424    58266
723     55784
724     55768
722     55768
726     55766
725     55765
750     55764
481     54593
268     54588
334     52188
342     52188
339     52188
343     52187
338     52187
337     52187
340     52186
341     52177
1426    51345
417     42232
54      37037
65      34457
66      34450
67      34445
364     32564
795     30532
478     30385
59      30384
64      30383
61      30383
63      30383
60      30382
652     25068
274     15878
69      14934
70      14931
418     12253
335     12170
266     12002
336     11812
273     10633
68       9711
482      9095
383      9094
382      9092
371      9092
375      9087
373      9082
372      9078
376      9074
366      9054
370      9032
378      8914
381      8881
369      8881
379      8880
374      8880
368      8716
365      8366
1406     6794
270      6705
791      6531
89       6489
659      6470
660      6470
1408     5830
1409     5830
1410     5807
223      5192
661      5095
181      4974
218      4895
127      4687
222      4646
206      4614
106      4464
136      4235
176      4178
201      4111
99       4107
71       3373
73       3373
74       3373
415      3315
214      3115
101      3108
107      3090
416      2950
167      2806
159      2719
414      2585
252      2519
88       2513
126      2394
255      2382
215      2348
Name: analyte_id, dtype: int64

In [ ]:
#| export
def build_kssl_star_tbl():
    """Builds/creates star schema version of the KSSL DB"""
    print('Building analyte_dim_tbl...')
    build_analyte_dim_tbl()
    print('Building taxonomy_dim_tbl...')
    build_taxonomy_dim_tbl()
    print('Building spectra_dim_tbl...')
    bundle_spectra_dim_tbl()
    print('Building sample_analysis_fact_tbl...')
    build_sample_analysis_fact_tbl()
    print('Success!')

In [ ]:
#| export
def export_spectra(in_folder=None, out_folder=DATA_KSSL,
                   nb_decimals=4, max_wavenumber=4000, valid_name=['XN', 'XS'], nb_chunks=1):
    """Exports KSSL MIRS spectra into a series of .csv files

    Parameters
    ----------
    in_folder: string, optional
        Specify the path of the folder containing the KSSL MIRS spectra

    out_folder: string, optional
        Specify the path of the folder that will contain exported files

    nb_decimals: int, optional
        Specify floating point precision (to save memory)

    max_wavenumber: int, optional
        Specify the max wavenumber to be considered in spectra

    valid_name: list of str, optional
        Specify valid spectra file names

    nb_chunks: int, optional
        Specify tne number of chunks/files to be created

    Returns
    -------
    None
    """
    in_folder = Path(in_folder)
    out_folder = Path(out_folder)

    if not in_folder.exists():
        raise IOError('in_folder not found.')

    if not out_folder.exists():
        out_folder.mkdir(parents=True)

    columns = None
    valid_files = [f for f in in_folder.rglob('*.0')
                   if re.search(r'X.', f.name)[0] in valid_name]

    for (l_bound, u_bound) in list(chunk(len(valid_files), nb_chunks)):
        columns = None
        rows_list = []
        for i, f in enumerate(tqdm(valid_files[l_bound:u_bound])):
            dbs = opusFC.listContents(f)
            if dbs:
                data = opusFC.getOpusData(str(f), dbs[0])
                row = [f.name] + list(data.y[data.x <= max_wavenumber])
                rows_list.append(row)
                if columns is None:
                    columns = list((data.x[data.x <= max_wavenumber]).astype(int))
        df = pd.DataFrame(rows_list, columns=['id'] + list(columns))
        df = df.round(nb_decimals)
        df.to_csv(out_folder / 'spectra_{}_{}.csv'.format(l_bound, u_bound-1), index=False)

In [ ]:
#| export
def bundle_spectra_dim_tbl(in_folder=DATA_SPECTRA, out_folder=DATA_KSSL, with_replicates=False):
    """Creates MIRS spectra dimension table of new KSSL star-like schema

    Parameters
    ----------
    in_folder: string, optional
        Specify the path of the folder containing the KSSL MIRS spectra

    out_folder: string, optional
        Specify the path of the folder that will contain exported files

    with_replicates: boolean, optional
        Specify whether to include spectra replicates (averaged otherwise)

    Returns
    -------
    Pandas DataFrame
        Spectra dimension table
    """
    all_files = list(in_folder.glob('*.csv'))
    li = []
    columns = None
    for filename in tqdm(all_files):
        if columns is None:
            columns = pd.read_csv(filename).columns
        df = pd.read_csv(filename, header=None, skiprows=1)
        df.columns = columns
        df = _get_lookup_smp_id_scan_path() \
            .merge(df, left_on='scan_path_name', right_on='id', how='inner') \
            .drop(['id', 'scan_path_name'], axis=1)

        if not with_replicates:
            df = df.groupby('smp_id').mean()

        li.append(df)

    df = pd.concat(li)
    df = df.reset_index()
    print('Writing spectra_dim_tbl.csv...')
    df.to_csv(out_folder / 'spectra_dim_tbl.csv', index=False)
    return df.reset_index()

In [ ]:
#| export
def load_spectra(in_folder=DATA_KSSL):
    """Loads Spectra dimension table"""
    return pd.read_csv(in_folder / 'spectra_dim_tbl.csv') \
        .drop_duplicates(subset='smp_id', keep=False)

In [ ]:
#| export
def load_taxonomy(in_folder=DATA_KSSL):
    """Loads taxonomy dimension table

    Notes
    ----
    'mollisols' order is sometimes mispelled so fixing it
    """
    return pd.read_csv(in_folder / 'taxonomy_dim_tbl.csv') \
        .replace({'mollisol': 'mollisols'})

In [ ]:
#| export
def get_tax_orders_lookup_tbl(order_to_int=True):
    """Returns a lookup table of taxonomic order names and respective ids"""
    df = load_taxonomy()
    orders = df['taxonomic_order'].unique()
    idx = range(len(orders))
    key_values = zip(orders, idx)
    if not order_to_int:
        key_values = zip(idx, orders)
    return dict(key_values)

In [ ]:
#| export
def load_fact_tbl(in_folder=DATA_KSSL):
    return pd.read_csv(in_folder / 'sample_analysis_fact_tbl.csv')

In [ ]:
#| export
def load_analytes(in_folder=DATA_KSSL, like=None):
    return pd.read_csv(in_folder / 'analyte_dim_tbl.csv')

In [ ]:
#| export
def load_data_analytes(features=[622], targets=[725]):
    """Loads data to predict analyte(s) from other analyte(s)"""
    df_fact = load_fact_tbl()
    analytes = features + targets
    df = df_fact[df_fact['analyte_id'].isin(analytes)]
    df_analytes = pd.pivot_table(df, values='calc_value',
                                 index=['smp_id'],
                                 columns=['analyte_id']).dropna()
    y = df_analytes.loc[:, targets].to_numpy()
    y_names = np.array(targets)
    X = df_analytes.loc[:, features].to_numpy()
    X_names = np.array(features)
    instances_id = df_analytes.index.to_numpy()
    return X, X_names, y, y_names, instances_id

In [ ]:
#| export
def load_target(analytes=725):
    """Loads target analytes + auxiliary attributes `lay_depth_to_top`
       and `order_id` for specified analytes"""
    analytes = [analytes] if not isinstance(analytes, list) else analytes
    df = load_fact_tbl()
    df = df[df['analyte_id'].isin(analytes)]
    df = pd.pivot_table(df, values='calc_value',
                        index=['smp_id', 'lims_pedon_id', 'lay_depth_to_top'],
                        columns=['analyte_id']).dropna().reset_index()
    df_tax = load_taxonomy()[['lims_pedon_id', 'taxonomic_order']]
    df = df.merge(df_tax, on='lims_pedon_id', how='left')
    df['order_id'] = df['taxonomic_order'].map(get_tax_orders_lookup_tbl())
    columns = ['smp_id', 'lay_depth_to_top', 'order_id'] + analytes
    return df[columns] \
        .drop_duplicates(subset='smp_id', keep=False)

In [ ]:
#| export
def load_data(analytes=725, shuffle=True):
    """Loads data (spectra + target + auxiliary attributes for specified analytes"""
    analytes = [analytes] if not isinstance(analytes, list) else analytes
    df = load_fact_tbl()
    df_target = load_target(analytes)
    df_spectra = load_spectra()
    df = df_target.merge(df_spectra, on='smp_id')
    if shuffle:
        df = df.sample(frac=1)
    X_names = df_spectra.iloc[:, 1:].columns.values.astype('int32')
    wn_idx = df.shape[1] - len(X_names)
    y_names = df.iloc[:, 1:wn_idx].columns.values
    instances_id = df['smp_id'].values
    X = df.iloc[:, wn_idx:].to_numpy('float32')
    y = df.iloc[:, 1:wn_idx].to_numpy()
    return (X, X_names, y, y_names, instances_id)

## Sandbox joins

In [ ]:
layer = pd.DataFrame({'lay_id': [1,2,3,4], 'loc': ['fr', 'en', 'ir', 'af']}); layer

   lay_id loc
0       1  fr
1       2  en
2       3  ir
3       4  af

In [ ]:
smp = pd.DataFrame({'smp_id': [1,2,3,4, 5], 'lay_id': [1,1,3,3, 4]}); smp

   smp_id  lay_id
0       1       1
1       2       1
2       3       3
3       4       3
4       5       4

In [ ]:
pd.merge(layer,
         smp,
         on='lay_id', how='inner')

   lay_id loc  smp_id
0       1  fr       1
1       1  fr       2
2       3  ir       3
3       3  ir       4
4       4  af       5

In [ ]:
# Left you include the left set id even if not present in the right set
pd.merge(layer,
         smp,
         on='lay_id', how='left')

   lay_id loc  smp_id
0       1  fr     1.0
1       1  fr     2.0
2       2  en     NaN
3       3  ir     3.0
4       3  ir     4.0
5       4  af     5.0

In [ ]:
pd.merge(layer,
         smp,
         on='lay_id', how='right')

   lay_id loc  smp_id
0       1  fr       1
1       1  fr       2
2       3  ir       3
3       3  ir       4
4       4  af       5